{% extends "sponsor/base/sponsor_base.html" %}
{% set active_page = "hackers" %}

{% block head %}
<style type="text/css">
    .page-header {
        margin-top: 0;
    }
    .t-centered {
        text-align: center;
    }
    .dropdown_buttons {
        margin-bottom: 20px;
    }
    table {
        table-layout: fixed;
    }
    td, th {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    td:hover, th:hover {
        white-space: normal;
        overflow: visible;
        word-wrap:break-word;
    }
    .width100 {
        width:100%;
    }
    .t-centered {
        text-align: center;
    }
    .toggle-columns {
        margin-bottom: 20px;
    }
    .clickable {
        cursor: pointer;
    }
    .download-btn {
        white-space: normal;
        margin-bottom: 5px;
    }
    #num-selected {
        color: red;
    }
    #select-all-btn, #clear-all-btn {
        white-space: normal;
        margin-bottom: 5px;
    }
    .column-toggle-btns {
        margin-bottom: 5px;
    }
</style>
{% endblock head %}


{% block body %}
<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">Hackers<small>&nbsp;&nbsp;</small><small id="count">{{ data.num_people }}</small><small>&nbsp;people</small></h1>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <button id="download-all-csv-button" class="btn btn-success btn-block download-btn" data-loading-text="Thinking...">Download All as CSV</button>
        </div>
        <div class="col-sm-4">
            <button id="download-all-resumes-button" class="btn btn-primary btn-block download-btn" data-loading-text="Thinking...">Download All Resumes</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <button id="download-selected-csv-button" class="btn btn-success btn-block download-btn" data-loading-text="Thinking...">Download Selected as CSV</button>
        </div>
        <div class="col-sm-4">
            <button id="download-selected-resumes-button" class="btn btn-primary btn-block download-btn" data-loading-text="Thinking...">Download Selected Resumes</button>
        </div>
    </div>

    <br>

    <div class="row toggle-columns">
        <div class="col-sm-8">
            <label>Show columns:&nbsp;&nbsp;</label>
            <div class="btn-group" data-toggle="buttons">
                {% for name, text in [('email', 'Email'), ('school', 'School'), ('year', 'Year'), ('resume', 'Resume'), ('download', 'Download')] %}
                <label class="btn btn-default column-btn active column-toggle-btns">
                    <input type="checkbox" name="{{ name }}"> {{ text }}
                </label>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-2">
            <button id="clear-all-btn" class="btn btn-warning btn-block">Clear All</button>
        </div>
        <div class="col-sm-2">
            <button id="select-all-btn" class="btn btn-warning btn-block">Select All</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="hackers" class="table-responsive">
                <table id="usertable" class="table table-bordered table-hover table-condensed">
                    <thead>
                        <tr name="search_params">
                            <th name="tname"        ><input id="search_name"    type="text" class="width100" placeholder="Search Names" ></th>
                            <th name="temail"       ><input id="search_email"   type="text" class="width100" placeholder="Search Email" ></th>
                            <th name="tschool"      ><input id="search_school"  type="text" class="width100" placeholder="Search School"></th>
                            <th name="tyear"        ><input id="search_year"    type="text" class="width100" placeholder="Search Year"  ></th>
                            <th name="tresume"><input type="checkbox" class="cresume" name="Has Resume"> Has Resume</th>
                            <th id="num-selected" name="tdownload" class="text-center">0 Selected</th>
                        </tr>
                        <tr>
                            <th name="tname"        class="sort clickable" data-sort="name"       >Name</th>
                            <th name="temail"       class="sort clickable" data-sort="email"      >Email</th>
                            <th name="tschool"      class="sort clickable" data-sort="school"     >School</th>
                            <th name="tyear"        class="sort clickable" data-sort="year"       >Year</th>
                            <th name="tresume"      class="sort clickable" data-sort="resume"     >Resume</th>
                            <th name="tdownload"    class="sort clickable text-center" data-sort="download">Download</th>
                        </tr>
                    </thead>
                    <tbody class="list">
                        {% for h in data.hackers %}
                        <tr name="hackerData" id="{{ h.userId }}">
                            <td                     class="id hidden"                   >{{ loop.index }}</td>
                            <td name="tname"        class="name clickable goto-profile" >{{ h.nameFirst }} {{ h.nameLast }}</td>
                            <td name="temail"       class="email clickable goto-profile">{{ h.email }}</td>
                            <td name="tschool"      class="school clickable"            >{{ h.school }}</td>
                            <td name="tyear"        class="year clickable"              >{{ h.year }}</td>
                            <td name="tresume"      class="resume"                      >{% if h.hasResume %}<a href='/corporate/resume?userId={{ h.userId }}' target="_blank">Resume</a>{% endif %}</td>
                            <td name="tdownload"    class="download text-center"        ><input type="checkbox" class="download-checkbox"></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <ul class="pagination"></ul>
            </div><!-- table-responsive -->
        </div><!-- col-md-12 -->
    </div><!-- row -->
</div><!-- container-fluid -->

<div class="hidden"><form id="post-form" method="post"><textarea name="data"></textarea></form></div>

{% endblock body %}


{% block scripts %}
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.1.0/list.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/list.pagination.js/0.1.0/list.pagination.min.js"></script>
<script type="text/javascript">
    var paginationOptions = {
        name: "pagination",
        paginationClass: "pagination",
        innerWindow: 2,
        outerWindow: 1
    };
    var options = {
        // http://listjs.com/docs/options
        valueNames: [ 'id', 'name', 'email', 'school', 'year', 'resume', 'download' ],
        page: 20,
        plugins: [
            ListPagination(paginationOptions)
        ]
    };
    var hackerList = null;

    function colToggleCallbacks() {
        $('.column-btn').click(function () {
            var name = $(this).find('input').attr('name'),
                q = '[name="t' + name + '"]';
            if ($(this).hasClass('active')) {
                $(q).addClass("hidden");
            } else {
                $(q).removeClass("hidden");
            }
        });
    }

    function updateColumVisibility() {
        $('.column-btn').each(function(index) {
            var name = $(this).find('input').attr('name'),
                q = '[name="t' + name + '"]';
            if ($(this).hasClass('active')) {
                $(q).removeClass("hidden");
            } else {
                $(q).addClass("hidden");
            }
        });
    }

    function searchCallbacks() {
        $('#search_name').keyup(function() {
            $('#search_email').val("");$('#search_school').val("");$('#search_year').val("");
            hackerList.search($('#search_name').val(), ['name']);
        });
        $('#search_email').keyup(function() {
            $('#search_name').val("");$('#search_school').val("");$('#search_year').val("");
            hackerList.search($('#search_email').val(), ['email']);
        });
        $('#search_school').keyup(function() {
            $('#search_name').val("");$('#search_email').val("");$('#search_year').val("");
            hackerList.search($('#search_school').val(), ['school']);
        });
        $('#search_year').keyup(function() {
            $('#search_name').val("");$('#search_email').val("");$('#search_school').val("");
            hackerList.search($('#search_year').val(), ['year']);
        });
    }

    function schoolClickCallbacks() {
        $('.school').click(function () {
            $('#search_school').val($(this).html());
            $('#search_name').val("");$('#search_email').val("");$('#search_year').val("");
            hackerList.search($('#search_school').val(), ['school']);
        });
    }

    function yearClickCallbacks() {
        $('.year').click(function () {
            $('#search_year').val($(this).html());
            $('#search_name').val("");$('#search_email').val("");$('#search_school').val("");
            hackerList.search($('#search_year').val(), ['year']);
        });
    }

    function checkBoxCallback() {
        var resume_checked = $('.cresume').prop('checked');
        hackerList.filter(function(item) {
            var res = item.values().resume;
            if (resume_checked) {
                return res != null && res != '';
            } else {
                return true;
            }
        });
    }

    function checkBoxCallbacks() {
        $('.cresume').click(checkBoxCallback);
    }

    function profileClickCallbacks() {
        $('.goto-profile').click(function () {
            var id = $(this).closest('tr').get(0).id
            document.location = '/corporate/hackers/' + id;
        });
    }

    function getDownloadChecked() {
        var download_checked = [];
        for (var i=0, len=hackerList.items.length; i<len; i++){
            var id = hackerList.items[i].elm.id,
                checked = hackerList.items[i].elm.getElementsByTagName("td")[6].getElementsByTagName("input")[0].checked;
            if (checked) {
                download_checked.push(id);
            }
        }

        // var download_checked = $('.download-checkbox:checked').map(function () {
        //     return $(this).closest('tr').get(0).id
        // }).get();

        return download_checked;
    }

    function downloadButtonsCallback() {
        $('#download-selected-csv-button').click(function () {
            $("#download-selected-csv-button").button('loading');

            $("#post-form").attr("action", "/corporate/csv")
            $("#post-form").attr("method", "post")
            $("#post-form").attr("target", "_blank")

            var checked = getDownloadChecked();
            var data = JSON.stringify({ "all": false, "ids": checked });
            $("#post-form > textarea").val(data);

            $("#post-form").submit();

            $("#download-selected-csv-button").button('reset');
        });

        $('#download-all-csv-button').click(function () {
            $("#download-all-csv-button").button('loading');

            $("#post-form").attr("action", "/corporate/csv")
            $("#post-form").attr("method", "post")
            $("#post-form").attr("target", "_blank")

            var data = JSON.stringify({ "all": true });
            $("#post-form > textarea").val(data);

            $("#post-form").submit();

            $("#download-all-csv-button").button('reset');
        });

        $('#download-selected-resumes-button').click(function () {
            $("#download-selected-resumes-button").button('loading');

            $("#post-form").attr("action", "/corporate/resumes")
            $("#post-form").attr("method", "post")
            $("#post-form").attr("target", "")

            var checked = getDownloadChecked();
            var data = JSON.stringify({ "all": false, "ids": checked });
            $("#post-form > textarea").val(data);

            $("#post-form").submit();

            $("#download-selected-resumes-button").button('reset');
        });

        $('#download-all-resumes-button').click(function () {
            $("#download-all-resumes-button").button('loading');

            $("#post-form").attr("action", "/corporate/resumes")
            $("#post-form").attr("method", "post")
            $("#post-form").attr("target", "")

            var data = JSON.stringify({ "all": true });
            $("#post-form > textarea").val(data);

            $("#post-form").submit();

            $("#download-all-resumes-button").button('reset');
        });
    }

    function updateNumSelected() {
        var num = getDownloadChecked().length;
        $("#num-selected").html(num.toString() + " Selected");
    }

    function downloadCheckboxClickCallbacks() {
        $('.download-checkbox').click(updateNumSelected);
    }

    function selectAllVisibleCallback() {
        $("#select-all-btn").click(function () {
            for (var i=0, len=hackerList.matchingItems.length; i<len; i++){
                hackerList.matchingItems[i].elm.getElementsByTagName("td")[6].getElementsByTagName("input")[0].checked = true;
            }
            updateNumSelected();
        });
    }

    function clearAllVisibleCallback() {
        $("#clear-all-btn").click(function () {
            for (var i=0, len=hackerList.matchingItems.length; i<len; i++){
                hackerList.matchingItems[i].elm.getElementsByTagName("td")[6].getElementsByTagName("input")[0].checked = false;
            }
            updateNumSelected();
        });
    }

    $(document).ready(function () {
        hackerList = new List('hackers', options);

        schoolClickCallbacks();
        yearClickCallbacks();
        colToggleCallbacks();
        searchCallbacks();
        checkBoxCallbacks();
        profileClickCallbacks();
        downloadButtonsCallback();
        updateNumSelected();
        downloadCheckboxClickCallbacks();
        selectAllVisibleCallback();
        clearAllVisibleCallback();

        $('#count').html(hackerList.matchingItems.length);
        hackerList.on('updated', function() {
            $('#count').html(hackerList.matchingItems.length);
            updateColumVisibility();
            schoolClickCallbacks();
            yearClickCallbacks();
            profileClickCallbacks();
            downloadCheckboxClickCallbacks();
        });
    });
</script>
{% endblock scripts%}
