/**
** @author: HackIllinois Staff
**/

.header {
    margin-top: 50px;
}

.container {
    position: relative;
}

label {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #fff;
}

.help-block {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #fff;
}

#resume {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #fff;
}

.footer {
    margin-bottom: 50px;
}

input[type="text"], input[type="email"], input[type="url"], .input-group-addon, #experience, #team {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: rgba(255,255,255, .1);
    border: 1px solid rgba(255,255,255, .5);
    color: #fff;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, #experience:focus, #team:focus, #school:focus {
    border: 1px solid #fff;
    outline: none;
}

#school {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: rgba(255,255,255, .5);
    border: 1px solid rgba(255,255,255, .5);
}

.regform-container {
    width: 70%;
    margin-left: 7%;
}

@media only screen
and (max-width : 768px) {
    .regform-container {
        width: 90%;
        margin-left: 5%;
    }
}

body h2 {
    color: #fff;
    margin-top: 50px;
    margin-bottom: 10px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    font-size: 38px;
    padding-bottom: 0px;
}

p.loggedin {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: white;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-bottom: 55px;
}

span.help-block {
    color: #fff;
}

.resume-slide-down-info {
    padding-left: 20px;
}

.resume-toggle {
    display: inline-block;
}

.btn-hackil {
    color: #fff;
    background-color: #ef3e36;
    border-color: #ef3e36;
    margin: 0 auto;
    width: 100%;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
}

span.reqd {
    color: #fff;
}

.btn-hackil:hover {
    color: #fff;
    background-color: #ef4d36;
    outline: none;
}

.rules-link {
    color: #ef3e36;
    text-decoration: underline;
    cursor: pointer;
}

.rules-link:hover {
    color: #fff;
}

.rules-link:active {
    color: #ef3e36;
}
}