/**
** @author: HackIllinois Staff
**/

.header {
    margin-top: 50px;
}

.container {
    position: relative;
}

label {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #fff;
}

.help-block {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #fff;
}

#resume {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #fff;
}

.footer {
    margin-bottom: 50px;
}

input[type="text"], input[type="email"], input[type="url"], .input-group-addon, #experience, #team {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: rgba(255,255,255, .3);
    border: 1px solid rgba(255,255,255, .5);
    color: #fff;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, #experience:focus, #team:focus, #school:focus {
    border: 1px solid #fff;
    outline: none;
}

#school {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: rgba(255,255,255, .5);
    border: 1px solid rgba(255,255,255, .5);
}

.regform-container {
    width: 70%; 
    margin-left: 7%;
}

@media only screen 
and (max-width : 768px) {
    .regform-container {
        width: 90%;
        margin-left: 5%;
    }
}
