body {
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	background-image: url('/img/starbackground.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.bg-stars {
	background-image: none;
	background-color: transparent;
}

.countdown {
	text-align: center;
	margin-bottom: 20px;
}

#countdown-endtext {
	color: white;
	font-size: 0.91em;
	text-transform: uppercase;
}

#countdown-hours, #countdown-minutes {
	font-family: 'Open Sans','Helvetica Neue', Helvetica,Arial, sans-serif;
	color: white;
	font-size: 50px;
	font-weight: bold;
	display: inline;
}

.countdown-colon {
	font-family: 'Open Sans','Helvetica Neue', Helvetica,Arial, sans-serif;
	color: white;
	font-size: 50px;
	font-weight: bold;
	position: relative;
	top: -5px;
	display: inline;
	-webkit-animation: colon-blink 2s infinite;
  	-moz-animation:    colon-blink 2s infinite;
  	-o-animation:      colon-blink 2s infinite;
  	animation:         colon-blink 2s infinite;
}	
@-webkit-keyframes colon-blink {
	0%   { opacity: 0; }
	50%	 { opacity: 1; }
	100% { opacity: 0; }
}
@-moz-keyframes colon-blink {
	0%   { opacity: 0; }
	50%	 { opacity: 1; }
	100% { opacity: 0; }
}
@-o-keyframes colon-blink {
	0%   { opacity: 0; }
	50%	 { opacity: 1; }
	100% { opacity: 0; }
}
@keyframes colon-blink {
	0%   { opacity: 0; }
	50%	 { opacity: 1; }
	100% { opacity: 0; }
}

.updates {
	font-family: 'Open Sans','Helvetica Neue', Helvetica,Arial, sans-serif;
	padding-left: 20px;
	padding-right: 20px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	overflow-y: hidden; 
	height: 500px;
}

.update-unit {
	padding: 10px;
	border-radius: 3px;
	border: 1px solid #444;
	background-color: #333;
	min-height: 60px;
	display: block;
	margin-bottom: 20px;
}

.num {
	color: #ef3e3c;
}

.update-unit:last-child {
	margin-bottom: 0px;
}

.update-img img {
	width: 50px;
	height: 50px;
	background: #fff;
	border-radius: 25px;
	float: left;
}

.update-heading-text {
	color: #fff;
	padding-left: 10px;
	font-size: 20px;
	font-weight: bold;
	display: inline-block;
}

.update-body-text {
	color: #fff;
	padding-left: 60px;
	padding-top: 5px;
	font-size: 14px;
	word-break: break-word;
}

.update-timestamp {
	color: #cfcfcf;
	float: right;
	font-size: 12px;
}

