{% extends "base/admin_base.html" %}
{% set active_page = "{{ active_page }}" %}

{% block head %}
<style type="text/css">
    .t-centered {
        text-align: center;
    }
    .page-header {
        margin-top: 0;
    }
    table {
        /*table-layout: auto;*/
        table-layout: fixed;
    }
    .c1{width:50%;}
    .c2{width:25%;}
    .c3{width:25%;}
</style>
{% endblock head %}


{% block body %}
<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">{{ table_data.table_name }}</h1>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <table class="table table-bordered table-hover table-condensed">
                <thead>
                    <tr>
                        {% for field in table_data.fields %}
                            <th class="c{{loop.index0}}">{{ field.header }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in table_data.content %}
                    <tr>
                        {% for field in table_data.fields %}
                            <td>{{ row[field.db_field] }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>{{ form_data.form_header }}</h2>
        </div>
        <div class="col-md-12">
            <form class="form-inline" role="form" method="post">
            {% for field in form_data.fields %}
                <div class="form-group">
                    <label class="sr-only" for="{{ field.name }}">{{ field.header }}</label>
                    {% if field.type == 'text' %}
                    <input type="{{ field.type }}" name="{{ field.name }}" placeholder="{{ field.header }}" class="form-control">
                    {% endif %}
                </div>
            {% endfor %}
            <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>
{% endblock body %}


{% block scripts %}
<script type="text/javascript"></script>
{% endblock scripts%}