{% extends "base/admin_base.html" %}
{% set active_page = "rsvp" %}

{% block head %}
    <style type="text/css">
        .page-header {
            margin-top: 0;
        }
        .t-centered {
            text-align: center;
        }
        .dropdown_buttons {
            margin-bottom: 20px;
        }

        table {
            table-layout: fixed;
        }
        td, th {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        td:hover, th:hover {
            white-space: normal;
            overflow: visible;
            word-wrap:break-word;
        }
        .width100 {
            width:100%;
        }
        .width50 {
            width:50%;
        }
        .t-centered {
            text-align: center;
        }
        .toggle-columns {
            margin-bottom:20px;
        }
    </style>
{% endblock head %}


{% block body %}
    <div class="row">
        <div class="col-md-9">
            <h1 class="page-header">Hacker Summary<small>&nbsp;&nbsp;</small><small id="count">{{ data.num_people }}</small><small>&nbsp;people</small></h1>
        </div>
        <div class="col-md-3">
            <a href="{{ data.export_url }}" role="button" class="btn btn-success btn-lg btn-block">Download as CSV</a>
        </div>
    </div>

    <div class="row dropdown_buttons">
        <div class="col-md-12">
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    {{ data.status_dropdown_text }}&nbsp;&nbsp;<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li role="presentation"><a role="menuitem" href="{{ data.all_status_link }}">Show all</a></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation" class="dropdown-header">Statuses</li>
                    {% for s in data.statuses %}
                    <li role="presentation"><a role="menuitem" href="{{ s.link }}">{{ s.text }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    {{ data.category_dropdown_text }}&nbsp;&nbsp;<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li role="presentation"><a role="menuitem" href="{{ data.all_category_link }}">Show all</a></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation" class="dropdown-header">Categories</li>
                    {% for c in data.categories %}
                    <li role="presentation"><a role="menuitem" href="{{ c.link }}">{{ c.text }}</a></li>
                    {% endfor %}
                    <li role="presentation" class="divider"></li>
                    <li role="presentation" class="dropdown-header">Bus Routes</li>
                    {% for r in data.routes %}
                    <li role="presentation"><a role="menuitem" href="{{ r.link }}">{{ r.text }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>{{ data.awaitCount }} hackers pending response<br>
            {{ data.comingCount }} hackers RSVP's Yes<br>
            {{ data.notcomingCount }} hackers RSVP's No<br>
            {{ data.noresponseCount }} hackers did not respond on time</p>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row toggle-columns">
            <div class="col-md-12">
                <label>Show columns:&nbsp;&nbsp;</label>
                <div class="btn-group" data-toggle="buttons">
                    {% for name, text in [('email', 'Email'), ('gender', 'Gender'), ('school', 'School'), ('year', 'Year'), ('project', 'Project Type'), ('status', 'Status'), ] %}
                    <label class="btn btn-default column-btn active">
                        <input type="checkbox" name="{{ name }}"> {{ text }}
                    </label>
                    {% endfor %}
                </div>
            </div><!-- col-md-12 -->
        </div><!-- row -->

        <div class="row">
            <div class="col-md-12">
                <div id="hackers" class="table-responsive">
                    <table id="usertable" class="table table-bordered table-hover table-condensed">
                        <thead>
                            <tr name="search_params">
                                <th name="tname" ><input id="search_name"  type="text" class="width100" placeholder="Search Names"></th>
                                <th name="temail"><input id="search_email" type="text" class="width100" placeholder="Search Email"></th>
                                <th name="tgender">
                                    <input type="checkbox" class="cgender" name="Male"   checked> Male<br>
                                    <input type="checkbox" class="cgender" name="Female" checked> Female<br>
                                    <input type="checkbox" class="cgender" name="Other"  checked> Other
                                </th>
                                <th name="tschool"><input id="search_school" type="text" class="width100" placeholder="Search School"></th>
                                <th name="tyear"  ><input id="search_year"   type="text" class="width100" placeholder="Search Year"  ></th>
                                <th name="tproject">
                                    <input type="checkbox" class="cproject" name="Software Hack" checked> Software Hack<br>
                                    <input type="checkbox" class="cproject" name="Hardware Hack" checked> Hardware Hack<br>
                                    <input type="checkbox" class="cproject" name="Unsure"        checked> Unsure
                                </th>
                                <th name="tstatus"></th>
                            </tr>
                            <tr>
                                <th name="tname"    class="sort" data-sort="name"   >Name</th>
                                <th name="temail"   class="sort" data-sort="email"  >Email</th>
                                <th name="tgender"  class="sort" data-sort="gender" >Gender</th>
                                <th name="tschool"  class="sort" data-sort="school" >School</th>
                                <th name="tyear"    class="sort" data-sort="year"   >Year</th>
                                <th name="tproject" class="sort" data-sort="project">Project Type</th>
                                <th name="tstatus"  class="sort" data-sort="status" >Status</th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            {% for h in data.hackers %}
                            <tr name="hackerData" id="{{ h.userId }}">
                                <td                  class="id"     style="display:none;">{{ loop.index }}</td>
                                <td name="tname"     class="name"   onclick="document.location='/admin/profile/{{ h.userId }}';">{{ h.nameFirst }} {{ h.nameLast }}</td>
                                <td name="temail"    class="email"  onclick="document.location='/admin/profile/{{ h.userId }}';">{{ h.email }}</td>
                                <td name="tgender"   class="gender"  >{{ h.gender }}</td>
                                <td name="tschool"   class="school"  >{{ h.school }}</td>
                                <td name="tyear"     class="year"    >{{ h.year }}</td>
                                <td name="tproject"  class="project" >{{ h.projectType }}</td>
                                <td name="tstatus"   class="status"  >{% if h.approvalStatus %}{{ h.approvalStatus.status }}{% endif %}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <ul class="pagination"></ul>
                </div><!-- table-responsive -->
            </div><!-- col-md-12 -->
        </div><!-- row -->
    </div><!-- container-fluid -->
{% endblock body %}


{% block scripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.1.0/list.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.pagination.js/0.1.0/list.pagination.min.js"></script>
    <script type="text/javascript">
        var paginationOptions = {
            name: "pagination",
            paginationClass: "pagination",
            innerWindow: 2,
            outerWindow: 1
        };
        var options = {
            // http://listjs.com/docs/options
            valueNames: [ 'id', 'name', 'email', 'gender', 'school', 'year', 'project', 'status' ],
            indexAsync: true,
            page: 20,
            plugins: [
                ListPagination(paginationOptions)
            ]
        };
        var hackerList = null;

        function colToggleCallbacks() {
            $('.column-btn').click(function () {
                name = $(this).find('input').attr('name');
                q = '[name="t' + name + '"]';
                if ($(this).hasClass('active')) {
                    $(q).addClass("hidden");
                } else {
                    $(q).removeClass("hidden");
                }
            });
        }

        function searchCallbacks() {
            $('#search_name').keyup(function() {
                hackerList.search($('#search_name').val(), ['name']);
            });
            $('#search_email').keyup(function() {
                hackerList.search($('#search_email').val(), ['email']);
            });
            $('#search_school').keyup(function() {
                hackerList.search($('#search_school').val(), ['school']);
            });
            $('#search_year').keyup(function() {
                hackerList.search($('#search_year').val(), ['year']);
            });
        }

        function schoolClickCallbacks() {
            $('.school').click(function () {
                $('#search_school').val($(this).html());
                hackerList.search($('#search_school').val(), ['school']);
            });
        }

        function checkBoxCallback() {
            var project_checked = $('.cproject:checked').map(function () {
                return $(this).attr('name');
            }).get();
            var gender_checked = $('.cgender:checked').map(function () {
                return $(this).attr('name');
            }).get();
            hackerList.filter(function(item) {
                var proj = item.values().project,
                    gend = item.values().gender;
                return $.inArray(proj, project_checked) != -1 && $.inArray(gend, gender_checked) != -1;
            });
        }

        function checkBoxCallbacks() {
            $('.cgender').click(checkBoxCallback);
            $('.cproject').click(checkBoxCallback);
        }

        $(document).ready(function () {
            hackerList = new List('hackers', options);

            colToggleCallbacks();
            searchCallbacks();
            schoolClickCallbacks();
            checkBoxCallbacks();

            $('#count').html(hackerList.matchingItems.length);
            hackerList.on('updated', function(){$('#count').html(hackerList.matchingItems.length);});
        });
    </script>
{% endblock scripts%}