{% extends "base/admin_base.html" %}
{% set active_page = "admin" %}

{% block head %}
<style type="text/css">
    .page-header {
        margin-top: 0;
    }
    .t-centered {
        text-align: center;
    }
    .xkcd-container {
        display: inline-block;
    }
</style>
{% endblock head %}


{% block body %}
<h1 id="typer_target" class="page-header"></h1>
<span class="xkcd-container">
    <h3 id="xkcd_title" class="t-centered"></h3>
    <a href="http://xkcd.com/"><img id="xkcd" class="img-responsive"></a>
</span>
{% endblock body %}


{% block scripts %}
<script src="/js/jquery.fittext.js"></script>
<script type="text/javascript">
var num = 0

$(document).ready(function() {
	$.get( "/admin/applycount", function( data ) {
		$("#typer_target").html(data + " hackers regisered!");
		$("#typer_target").fitText();
	});

    var img = document.getElementById("xkcd");
    var title = document.getElementById("xkcd_title");
    $.getJSON( "/admin/xkcd", function( data ) {
        img.src = data.img;
        img.title = data.title;
        img.alt = data.alt;

        title.innerHTML = data.title;

        num = data.num;
    });
});
</script>
{% endblock scripts%}