{% extends "base/admin_base.html" %}
{% set active_page = "profile" %}

{% block head %}
<style type="text/css">
    .page-header {
        margin-top: 0;
    }
    .t-centered {
        text-align: center;
    }
</style>
{% endblock head %}

{% block body %}
<h1 class="page-header">Profile</h1>
<p>{{ data.nameFirst }} {{ data.nameLast }}</p>
<p>{{ data.email }}</p>
<p>{{ data.school }}</p>
<p>{{ data.year }}</p>
<p>{{ data.gender }}</p>
</br>
<p>{{ data.resume|safe }}</p>
<p>{{ data.projectType }}</p>
<p>{{ data.experience }}</p>
<p>{{ data.linkedin }}</p>
<p>{{ data.github }}</p>
{% endblock body %}


{% block scripts %}
<script type="text/javascript"></script>
{% endblock scripts%}