{% extends "base/admin_base.html" %}
{% set active_page = "admin" %}

{% block head %}
<style type="text/css">
    .page-header {
        margin-top: 0;
    }
    .t-centered {
        text-align: center;
    }
    .xkcd-container {
        display: inline-block;
    }
</style>
{% endblock head %}


{% block body %}
<h1 id="typer_target" class="page-header">XXX hackers registered<br>from XXX schools!</h1>

<p>Note: If you need access to user applications and have a valid reason, please contact <a href="mailto:systems@hackillinois.org?Subject=HackIllinois%20Admin%20Access%20Request">systems@hackillinois.org</a></p>

<span class="xkcd-container">
    <h3 id="xkcd_title" class="t-centered"></h3>
    <a href="http://xkcd.com/"><img id="xkcd" class="img-responsive"></a>
</span>
{% endblock body %}


{% block scripts %}
<script src="/js/jquery.fittext.js"></script>
<script type="text/javascript">
var num = 0;

$(document).ready(function() {
    $("#typer_target").fitText(1.1);

    hacker_count = "";
    school_count = "";

	$.get( "/admin/applycount", function( data ) {
        hacker_count = data;

        $.get( "/admin/schoolcount", function( data ) {
            school_count = data;

            $("#typer_target").html(hacker_count + " hackers registered<br>from " + school_count + " schools!");
            $("#typer_target").fitText(1.1);
        });

	});

    var img = document.getElementById("xkcd");
    var title = document.getElementById("xkcd_title");
    $.getJSON( "/admin/xkcd", function( data ) {
        img.src = data.img;
        img.title = data.title;
        img.alt = data.alt;

        title.innerHTML = data.title;

        num = data.num;
    });
});
</script>
{% endblock scripts%}