{% extends "base/base.html" %}

{% block head %}
{% include 'base/default_css_and_fonts.html' %}
    <link rel="stylesheet" type="text/css" href="/css/shared.css">
    <link rel="stylesheet" type="text/css" href="/css/apply_complete.css">
{% endblock head %}

{% block body %}
<img class="constellations" src="/img/constellations.png"/>
<header class="logo">
    <a href="/"><img class="logo-main-svg header img-responsive center-block" src="/img/hackillinois_logo.svg"/></a>
    <h2 class="info-text t-centered">Application Complete!</h2>
</header>

<div class="pure-g-r">
    <section class="reg-message pure-u-1-3">
        Thanks for applying! To keep in touch, follow us on Facebook and Twitter.<br>Also, don't forget to RSVP to the <a href="https://www.facebook.com/events/285744431573053" target="_blank" style="color: #ef3e36">Facebook event</a>!
        <div class="social-follow">
            <span class="facebook-frame">
                <iframe class="social-frame" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:135px; height:21px;" src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Ffacebook.com%2Fhackillinois&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=true&amp;height=21"></iframe>
            </span>
            <span class="twitter-frame">
                <iframe class="social-frame" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:135px; height:21px;" src="//platform.twitter.com/widgets/follow_button.html?screen_name=hackillinois&amp;show_count=true&amp;lang=en&amp;show_screen_name=true&amp;dnt=true"></iframe>
                <iframe class="social-frame" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:56px; height:21px;" src="//platform.twitter.com/widgets/tweet_button.html?url=http%3A%2F%2Fwww.hackillinois.org&amp;text=I%20just%20signed%20up%20for%20%40HackIllinois%2C%20a%2036-hour%20hackathon%20at%20the%20University%20of%20Illinois%20-%20You%20should%20come!&amp;count=none&amp;hashtags=HackIL&amp;dnt=true"></iframe>
            </span>
        </div>
    </section>
</div>

{% endblock body %}