{% extends "base/subpage.html" %}

{% block subpage_body %}

<div class="wrapper-content sticky-footer-wrapper-fix">
    <div class="grid-scaffold">
        <div class="pure-g-r">
            <div class="pure-u-1 section-divide">
                <header class="section-title section-text">
                    <span>APPS</span>
                </header>
            </div>
            <div class="pure-u-1-2">
                <img src="/img/appstore.png" style="display:block;margin:0 auto;padding-bottom:20px;">
            </div>
            <div class="pure-u-1-2">
                <img src="/img/googleplay.png" style="height:40px;display:block;margin:0 auto;padding-bottom:20px;">                
            </div>
        </div>
    </div>
</div>
{% endblock subpage_body %}
