{% extends "base/admin_base.html" %}
{% set active_page = "basicstats" %}

{% block head %}
<style type="text/css">
    table {
        table-layout: auto;
    }
    .t-centered {
        text-align: center;
    }
    .page-header {
        margin-top: 0;
    }
</style>
{% endblock head %}


{% block body %}
<div class="row">
    <div class="col-md-9">
        <h1 class="page-header">Hacker Stats<small>&nbsp;&nbsp;</small><small id="count">{{ data.num_people }}</small><small>&nbsp;people</small></h1>
    </div>
    <!-- <div class="col-md-3"> -->
        <div class="btn-group col-md-3">
            <button type="button" class="btn btn-primary dropdown-toggle btn-block" data-toggle="dropdown">
                <!-- {{ data.status_dropdown_text }}&nbsp;&nbsp;<span class="caret"></span> -->
                Select One...&nbsp;&nbsp;<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <!-- {% for s in data.statuses %} -->
                <!-- <li role="presentation"><a role="menuitem" href="{{ s.link }}">{{ s.text }}</a></li> -->
                <!-- {% endfor %} -->
                <li role="presentation"><a role="menuitem" href="#">All Hackers</a></li>
                <li role="presentation"><a role="menuitem" href="#">Approved Hackers</a></li>
                <li role="presentation"><a role="menuitem" href="#">Emailed Hackers</a></li>
                <li role="presentation"><a role="menuitem" href="#">RSVP'd Hackers</a></li>
            </ul>
        </div>
    <!-- </div> -->
</div>

<div class="container-fluid">
    {% for f in data.fields %}
    {% set column = loop.index0 % 2 %}
    {% if column == 0 %}
    <div class="row">
    {% endif %}
        {% if column == 0 %}
        <div class="col-md-6">
        {% else %}
        <div class="col-md-6">
        {% endif %}
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>{{ f.name }}</th>
                        <th class="t-centered">#</th>
                        <th class="t-centered">%</th>
                    </tr>
                </thead>
                <tbody>
                    {% for s in f.stats|sort(reverse=True,attribute='num') %}
                    <tr>
                        <td>{{ s.name }}</td>
                        <td class="t-centered">{{ s.num }}</td>
                        <td class="t-centered">{{ (100 * s.num / data.numPeople)|round(2) }} %</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td>{{ f.stats|length }}</td>
                        <td class="t-centered">{{ data.numPeople }}</td>
                        <td class="t-centered">100 %</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    {% if column == 1 %}
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock body %}


{% block scripts %}
<script type="text/javascript"></script>
{% endblock scripts%}