{% extends "base/subpage.html" %}

{% block subpage_body %}

<div class="wrapper-content">
    <div class="grid-scaffold">
        <div class="pure-g-r">
            <div class="pure-u-1 section-divide">
                <header class="section-title section-text">
                    <span>HackIllinois Code of Conduct</span>
                </header>
            </div>
            <div class="pure-u-1">
                <div class="rules-text first-text">
                    HackIllinois is dedicated to providing a harassment-free event experience for everyone, regardless of gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, nationality, or religion. We do not tolerate harassment of event participants in any form. Sexual language and imagery is not appropriate for any event venue, including talks. Event participants violating these rules may be sanctioned or expelled from the event at the discretion of the event organizers.
                </div>
                <div class="rules-text">
                    Harassment includes offensive verbal comments, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention. Participants asked to stop any harassing behavior are expected to comply immediately.
                </div>
                <div class="rules-text">
                    Sponsoring organizations and their representatives are also subject to the anti-harassment policy. In particular, exhibitors should not use sexualized images, activities, or other material. Event staff (including volunteers) should not use sexualized clothing/uniforms/costumes, or otherwise create a sexualized environment.
                </div>
                <div class="rules-text">
                    If a participant engages in harassing behavior, the event organizers may take any action they deem appropriate, including warning the offender or expulsion from the event. If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of event staff immediately. 
                </div>
                <div class="rules-text">
                    <p>Thank you for your support.</p>
                    <p> - The HackIllinois Team (<a href="mailto:team@hackillinois.org">team@hackillinois.org</a>)</p>
                </div>
                <div class="rules-text">
                    <h3>Contact information</h3>             
                    <p>HackIllinois Team: (312) 757-5638</p>
                    <p>Campus Police: (217) 333-1216</p>
                    <p>Emergency Medical: 911 (9-911 from a campus phone)</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock subpage_body %}
