{% extends "base/base.html" %}

{% block head %}
{% include 'base/default_css_and_fonts.html' %}
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/pure/0.3.0/grids-min.css">

<link rel="stylesheet" type="text/css" href="css/shared.css">
<link rel="stylesheet" type="text/css" href="css/index.css">
{% endblock head %}

{% block body %}

<div class="wrapper bg-stars">
	<div class="const">
		<img class="constellations" src="/img/constellations.png">
	</div>
	<div class="pure-g-r">
		<div id="column-main" class="pure-u-1 t-centered">
			<div id="logo">
				<div class="splash">
					<img class="logo-main-svg" src="/img/hackillinois_logo.svg">
					<h5>Imagine. Learn. Launch.</h5>

					<div>
						<h1>April 11-13, 2014</h1>
					</div>
					<div class="reg-form">
						<a class="apply-btn" href="/apply/update">Update Application</a>
						<br><br><br>
						<a id="volunteer-btn-slide" class="volunteer-btn" target="_blank" href="http://go.hackillinois.org/volunteer">Volunteer</a>

						<div class="social-follow">
							<span class="facebook-frame">
								<iframe allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:90px; height:21px;" src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Ffacebook.com%2Fhackillinois&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=21"></iframe>
							</span>
							<span class="twitter-frame">
								<iframe allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:142px; height:21px;" src="https://platform.twitter.com/widgets/follow_button.html?screen_name=hackillinois&amp;show_count=true&amp;lang=en&amp;show_screen_name=false&amp;dnt=true"></iframe>
							</span>
						</div>
					</div>
					<div class="reg-success">
						<h3>You're all set! We'll be in touch soon.</h3>
						{% if updateProfile %}
						<a class="apply-btn update-btn" href="/apply">Update</a>
						{% endif %}

						{% if not updateProfile %}
						<p class="apply-info">
						<span class="squish">We're using your Google account for authentication to allow future updates to your application, and to integrate it with future HackIllinois apps.</span></p>
						<a id="apply-btn-slide" class="apply-btn" href="/apply">Apply</a>
						{% endif %}

						<div class="social-follow">
							<span class="facebook-frame">
								<iframe allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:90px; height:21px;" src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Ffacebook.com%2Fhackillinois&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=21"></iframe>
							</span>
							<span class="twitter-frame">
								<iframe allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:142px; height:21px;" src="https://platform.twitter.com/widgets/follow_button.html?screen_name=hackillinois&amp;show_count=true&amp;lang=en&amp;show_screen_name=false&amp;dnt=true"></iframe>
							</span>
						</div>
					</div>
				</div>
		    </div>
	    </div>
	</div>

	<div class="pure-g main-content">
		<div class="pure-u-1 top content-container">
			<div class="content">
				<div class="pure-g-r">
					<div class="pure-u-1-4">
						<h4><a href="/rules">Rules</a></h4>
					</div>
					<div class="pure-u-1-4">
						<h4><a href="/schedule">Schedule</a></h4>
					</div>
					<div class="pure-u-1-4">
						<h4><a href="/travel">Travel</a></h4>
					</div>
					<div class="pure-u-1-4">
						<h4><a href="/sponsor">Sponsor</a></h4>
					</div>
				</div>
			</div>
		</div>

		<div class="pure-u-1 content-container">
			<div class="content">
			    <div id="sponsors">
				    <h2>Sponsors</h2>

					    <!-- Cohost/Supernova -->
					    <a href="http://www.inin.com/" target="_blank"><img alt="Interactive Intelligence" class="sponsor-supernova" src="/img/logos/resized/inin.png" /></a>
					    <a href="http://www.e-imo.com/" target="_blank"><img alt="imo" class="sponsor big" src="/img/logos/resized/imo.png" /></a>
					    <a href="http://www.getpebble.com/" target="_blank"><img alt="pebble" class="sponsor big" src="/img/logos/resized/pebble.png" /></a><br>
					    <a href="http://www.bloomberg.com" target="_blank"><img alt="bloomberg" class="sponsor big" src="/img/logos/resized/bloomberg.png" /></a>
					    <a href="http://www.groupon.com" target="_blank"><img alt="groupon" class="sponsor big" src="/img/logos/resized/groupon.png" /></a>
					    <a href="http://www.neustar.biz" target="_blank"><img alt="neustar" class="sponsor big" src="/img/logos/resized/neustar.png" /></a>
					    <a href="http://www.statefarm.com" target="_blank"><img alt="state farm" class="sponsor big" src="/img/logos/resized/statefarm.png" /></a>
					    <a href="http://www.venmo.com/" target="_blank"><img alt="venmo" class="sponsor big venmo" src="/img/logos/resized/venmo.png" /></a>
					    <a href="http://www.westmonroepartners.com/" target="_blank"><img alt="west monroe partners" class="sponsor big s-padding-fix" src="/img/logos/resized/westmonroe.png" /></a>
					    <a href="http://www.tcs.com/" target="_blank"><img alt="tcs" class="sponsor big" src="/img/logos/resized/tcs.png" /></a>
					    <a href="http://www.niksun.com/" target="_blank"><img alt="niksun" class="sponsor big niksun" src="/img/logos/resized/niksun.png" /></a>
					    <a href="http://www.answers.com/" target="_blank"><img alt="answers" class="sponsor big answers" src="/img/logos/resized/answers.png" /></a>

					    <a href="http://www.goldmansachs.com" target="_blank"><img alt="goldman sachs" class="sponsor big goldmansachs" src="/img/logos/resized/goldman.png" /></a>
					    <a href="http://www.wolfram.com" target="_blank"><img alt="wolfram" class="sponsor big" src="/img/logos/resized/wolfram.png"/></a>
					    <a href="http://developer.deere.com" target="_blank"><img alt="john deere" class="sponsor big johndeere" src="/img/logos/resized/deere.png" /></a>
					    <a href="http://www.trunkclub.com" target="_blank"><img alt="trunk club" class="sponsor big trunkclub" src="/img/logos/resized/trunk_club.png" /></a>
					    <a href="http://www.yahoo.com" target="_blank"><img alt="yahoo" class="sponsor big" src="/img/logos/resized/yahoo.png" /></a>
					    <a href="http://www.kcg.com" target="_blank"><img alt="kcg" class="sponsor big" src="/img/logos/kcg.png" /></a>
					    <a href="http://www.ge.com" target="_blank"><img alt="general electric" class="sponsor big ge" src="/img/logos/g_e.png" /></a>
					    <a href="http://www.allstontrading.com" target="_blank"><img alt="allston trading" class="sponsor big allston" src="/img/logos/allston.png" /></a>

					    <a href="http://www.dropbox.com" target="_blank"><img alt="dropbox" class="sponsor little s-padding-fix" src="/img/logos/resized/dropbox.png" /></a>
					    <a href="http://www.google.com" target="_blank"><img alt="google" class="sponsor little s-padding-fix" src="/img/logos/resized/google.png" /></a>
					    <a href="http://www.citadel.com" target="_blank"><img alt="citadel" class="sponsor little" src="/img/logos/resized/citadel.png" /></a>
					    <a href="http://www.mailgun.com" target="_blank"><img alt="mailgun" class="sponsor little mailgun" src="/img/logos/resized/mailgun.png" /></a>
					    <a href="http://www.spottradingllc.com" target="_blank"><img alt="spot trading" class="sponsor little spot-trading" src="/img/logos/resized/spottrading.png" /></a>
					    <a href="http://www.epic.com" target="_blank"><img alt="epic systems" class="sponsor little epic" src="/img/logos/resized/epic.png" /></a>
					    <a href="http://www.bankofamerica.com" target="_blank"><img alt="bank of america" class="sponsor little" src="/img/logos/bofa.png" /></a>
					    <a href="http://www.spiceworks.com" target="_blank"><img alt="spiceworks" class="sponsor little" src="/img/logos/spiceworks.png" /></a>

					    <a href="http://www.electricimp.com" target="_blank"><img alt="electric imp" class="sponsor littler" src="/img/logos/resized/electricimp.png" /></a>
					    <a href="http://www.octopart.com" target="_blank"><img alt="octopart" class="sponsor littler" src="/img/logos/resized/octopart.png" /></a>
					    <a href="http://www.sparkfun.com" target="_blank"><img alt="sparkfun" class="sponsor littler" src="/img/logos/resized/sparkfun.png" /></a>
					    <a href="http://www.rdio.com" target="_blank"><img alt="rdio" class="sponsor littler rdio" src="/img/logos/resized/rdio.png" /></a>
					    <a href="http://www.lob.com" target="_blank"><img alt="lob" class="sponsor littler lob" src="/img/logos/resized/lob.png" /></a>
					    <a href="http://www.firebase.com" target="_blank"><img alt="firebase" class="sponsor littler firebase" src="/img/logos/resized/firebase.png" /></a>
					    <a href="http://www.makerlab.illinois.edu" target="_blank"><img alt="makerlab" class="sponsor littler" src="/img/logos/resized/makerlab.png" /></a>
					    <a href="http://www.etsy.com" target="_blank"><img alt="etsy" class="sponsor littler etsy" src="/img/logos/etsy.png" /></a>

					    <a href="http://www.microsoft.com" target="_blank"><img alt="microsoft" class="sponsor littler microsoft" src="/img/logos/resized/microsoft.png" /></a>
					    <a href="http://www.facebook.com" target="_blank"><img alt="facebook" class="sponsor littler" src="/img/logos/resized/facebook.png" /></a>
					    <a href="http://www.intel.com" target="_blank"><img alt="intel" class="sponsor littler intel" src="/img/logos/resized/intel.png" /></a>
					    <a href="http://www.namecheap.com" target="_blank"><img alt="namecheap" class="sponsor littler" src="/img/logos/resized/namecheap.png" /></a>
						<a href="http://www.a16z.com" target="_blank"><img alt="Andreessen Horowitz" class="sponsor littler" src="/img/logos/resized/a16z.png" /></a>
						<a href="http://www.dwolla.com" target="_blank"><img alt="dwolla" class="sponsor littler" src="/img/logos/resized/dwolla.png" /></a>
						<a href="http://www.twilio.com" target="_blank"><img alt="twilio" class="sponsor littler" src="/img/logos/resized/twilio.png" /></a>
						<a href="http://www.hudl.com" target="_blank"><img alt="hudl" class="sponsor littler" src="/img/logos/hudl.png" /></a>

					    <a href="http://www.stickermule.com" target="_blank"><img alt="stickermule" class="sponsor littler" src="/img/logos/resized/stickermule.png" /></a>
					    <a href="http://orbitz.com" target="_blank"><img alt="orbitz" class="sponsor littler" src="/img/logos/resized/orbitz.png" /></a>
					    <a href="http://spark.io" target="_blank"><img alt="spark.io" class="sponsor littler sparkio" src="/img/logos/resized/sparkio.png" /></a>
					    <a href="http://parrot.com" target="_blank"><img alt="parrot" class="sponsor littler" src="/img/logos/resized/parrot.png" /></a>
					    <a href="http://pwc.com" target="_blank"><img alt="pwc" class="sponsor littler pwc" src="/img/logos/resized/pwc.png" /></a>
					    <a href="http://zealousamoeba.com" target="_blank"><img alt="zealous amoeba" class="sponsor littler pwc" src="/img/logos/zealousamoeba.svg" /></a>

					    <p class="sponsor-shoutout-CTA">If you're interested in sponsoring HackIllinois, <a href="/sponsor">view the options</a> and <a href="mailto:sponsor@hackillinois.org">drop us a line</a>!</p>

				</div>

				<div id="about">
					<h2>About/FAQ</h2>

					<div class="pure-g-r">
						<div class="pure-u-1">
								<h3>What is HackIllinois?</h3>
								<p>HackIllinois is a chance for you to spend 36 hours with a team building any project you'd like! You can work on a useful tool you wish existed or a skill or language you want to learn. Web apps, mobile apps, and hardware hacks - Anything goes!</p>
						</div>
				        <div class="pure-u-1-2">
								<h3>Who can come?</h3>
								<p>Any college student is welcome to apply! Sign up with your .edu email address. This is not limited to Illinois students.</p>
						</div>
						<div class="pure-u-1-2">
								<h3>How do I apply?</h3>
								<p>For now, put your email address in the box above! In a couple weeks we'll email you an application to fill out. You’ll be notified of our decision later this spring. We’re accepting between 500 and 1000 hackers.</p>
						</div>
						<div class="pure-u-1-2">
								<h3>Can I apply even if I'm inexperienced?</h3>
								<p>Absolutely! We’ll be accepting a healthy mix of skill levels. At the event, our corporate sponsors will have lots of mentors around, and different student groups are helping out as well!</p>
						</div>
						<div class="pure-u-1-2">
								<h3>Are you providing travel reimbursement?</h3>
								<p>We’re definitely sending free buses to nearby schools! Make sure to mark your school on your application, and we’ll do our best to help you get here. We’re still looking into flight reimbursement.</p>
						</div>
						<div class="pure-u-1-2">
								<h3>How big can my team be?</h3>
								<p>You can work with up to four people total. Single person teams are allowed, but we encourage you to work in a group! Resources will be available at the hackathon if you’d like to look for a team.</p>
						</div>
						<div class="pure-u-1-2">
								<h3>Can High School students participate?</h3>
								<p>Are you a high school student interested in participating? Shoot us an email at <a href="mailto:contact@hackillinois.org">contact@hackillinois.org</a> and let us know. Don't forget to tell us a little bit about yourself! We’ll get back to you with more information soon.</p>
						</div>
						<div class="pure-u-1">
								<h3>What should I bring?</h3>
								<p>Your student ID, your laptop (don't forget your charger!), a change of clothes, sleeping bag/blankets/pillows, personal items (soap, toothbrush, toothpaste, etc.), &amp; any required hardware for your project (We’ll be providing some too… stay tuned!). Lastly and most importantly, bring your <strong>imagination, excitement, and A-game!</strong></p>
						</div>
						<div class="pure-u-1">
								<h3>Will you have a hardware section?</h3>
								<p>Yes, we do have a hardware section at HackIllinois - We will have Pebble watches for sale, Arduinos, Electric Imps, SparkDevs and more for you to hack with! We're also providing you guys with the basics - sensors, breadboards and other essential parts. Feel free to bring what you have from home. If you don't have something, we'll do our best to help you get it for HackIllinois.</p>
						</div>
						<div class="pure-u-1-2">
								<h3>What prizes can I win?</h3>
								<p>In addition to cash prizes provided by HackIllinois, our corporate sponsors are offering special company prizes. :)</p>
						</div>
						<div class="pure-u-1-2">
								<h3>Are there any rules for the hacks?</h3>
								<p>They can be anything! If you continue existing projects (or reuse old projects), let us know on the submission form. 3rd party APIs &amp; libraries are totally fine without notice.</p>
						</div>
						<div class="pure-u-1">
								<h3>I have another question!</h3>
								<p>Contact us via email (<a href="mailto:contact@hackillinois.org">contact@hackillinois.org</a>), <a href="http://facebook.com/hackillinois" target="blank">Facebook</a>, <a href="http://www.twitter.com/hackillinois" target="blank">Twitter</a>, phone/SMS (<a href="tel://+13127575638">312-757-5638</a>), IRC (<a href="http://webchat.freenode.net/?channels=%23hackillinois">#hackillinois on irc.freenode.net</a>), or <a href="https://www.google.com/maps/preview#!q=siebel+center&data=!1m4!1m3!1d2658!2d-88.2248157!3d40.1141041!2m1!6s0x880cd76a59dfc601%3A0x241c8874383c4540!4m15!2m14!1m13!1s0x880cd76baa8479a9%3A0x4e9f01d40d359630!3m8!1m3!1d96776!2d-95.5290465!3d29.522312!3m2!1i1440!2i669!4f13.1!4m2!3d40.11384!4d-88.224888" target="blank">carrier pigeon</a>.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="pure-u-1 footer">
			<div class="pure-g-r">
				<div class="pure-u-1-2">
			        <div class="footer-copy">
			            &copy; HackIllinois 2014.
			            Co-hosted by <a href="http://www.inin.com" target="_blank">Interactive Intelligence</a>.
			            <br>
            			<div class="thanks">
            				Thanks to <a href="http://cs.illinois.edu">CS@Illinois</a>, <a href="http://ece.illinois.edu/">ECE Illinois</a>, <a href="http://women.cs.illinois.edu/">WCS</a>, <a href="http://iefx.engineering.illinois.edu/">iEFX</a> and Engineering Initiatives.
            			</div>
			        </div>
    			</div>
				<div class="pure-u-1-2 social-icons">
					<a href="https://www.facebook.com/hackillinois" target="_blank">
						<i class="fa fa-facebook"></i>
					</a>
					<a href="https://twitter.com/hackillinois" target="_blank">
						<i class="fa fa-twitter"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/index.js"></script>



{% endblock body %}


{% block spaceship %}
{% include "misc/spaceship.html" %}
{% endblock spaceship %}
