<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="achalv">
		<title>HackIllinois</title>
		<link rel="stylesheet" type="text/css" href="css/reset.css">
		<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/pure/0.3.0/grids-min.css">
		<link rel="stylesheet" type="text/css" href="css/site.css">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
		<link rel="icon" type="image/ico" href="favicon.ico"/>
	</head>

	<body>
		<div class="wrapper bg-stars">
			<div class="const">
				<img class="constellations" src="assets/constellations.png">
			</div>
			<div id="grid" class="pure-g-r">

			        <div id="column-main" class="pure-u-1 t-centered">
				        <div id="logo">
					        <div class="splash">
					        	<img class="logo-main-svg" src="assets/hackillinois_logo.svg">
					        	<h2 class="info-text">April 11-13, 2013</h2>
					        	
					        	<div class="reg-form">
									<form action="#" method="post">
							    		<input type="email" name="register-email" class="reg-email" value="" placeholder="E-mail">
							    		<input type="submit" value="SIGN UP" class="send" name="reg-send">
									</form>
								</div>
							</div>
					        </div>
				        </div>
			        </div>
			</div>         
	</body>
