<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="HackIllinois Staff">
		<meta name="description" content="A large student-run hackathon at Illinois, coming Spring 2014.">
		<title>HackIllinois</title>
		<link rel="stylesheet" type="text/css" href="css/reset.css">
		<link rel="stylesheet" type="text/css" href="css/site.css">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
		<link rel="icon" type="image/ico" href="favicon.ico"/>

		<!-- Google Analytics Tracking -->
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-46010489-1', 'hackillinois.org');
		  ga('send', 'pageview');
		</script>
	</head>

	<body>
		<div class="wrapper bg-stars">
			<div class="const">
				<img class="constellations" src="img/constellations.png"></div>
			<div id="grid" class="pure-g-r">

				<div id="column-main" class="pure-u-1 t-centered">
					<div id="logo">
						<div class="splash">
							<img class="logo-main-svg" src="img/hackillinois_logo.svg">
							<h2 class="info-text">April 2014</h2>

								<form class="reg-form" method="post">
									<input type="text" name="register-firstname" class="reg-email" value="" placeholder="First Name">
									<input type="text" name="register-lastname" value="" class="reg-email" placeholder="Last Name">
									<input type="email" name="register-email" class="reg-email" value="" placeholder="E-mail">
									<br>
									<div style="font-size=14pt; color:white;">
										<select name="register-school">
											<option value="University of Illinois">University of Illinois</option>
											<option value="Other school">Other school</option>
										</select>
										<br>
										<p class="info-text">Gender</p>
										<input type="radio" name="register-gender" value="Male"> Male<br>
										<input type="radio" name="register-gender" value="Female"> Female<br>
										<input type="radio" name="register-gender" value="None"> I choose not to specify<br>
										<br>
										<p class="info-text">Year</p>
										<input type="radio" name="register-grade" value="Freshman"> Freshman<br>
										<input type="radio" name="register-grade" value="Sophomore"> Sophomore<br>
										<input type="radio" name="register-grade" value="Junior"> Junior<br>
										<input type="radio" name="register-grade" value="Senior"> Senior<br>
										<input type="radio" name="register-grade" value="Other"> Other<br>
										<br>
										<input type="submit" value="SIGN UP" class="send" name="reg-send">
									</div>
								</form>

						</div>
					</div>
				</div>

			</div>
		</div>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="js/script.js"></script>
	</body>
</html>