{% extends "base/base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="css/site.css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="css/forms.css">
{% endblock head %}

{% block body %}

<div class="wrapper bg-stars">
	<div class="const">
		<img class="constellations" src="/img/constellations.png">
	</div>

	<div class="pure-g-r">
        <div id="column-main" class="pure-u-1 t-centered">
	        <div id="logo">
		        <div class="splash">
		        	<img class="logo-main-svg" src="/img/hackillinois_logo.svg">
		        	<h5>Imagine. Learn. Launch.</h5>
		    </div>
	    </div>
	</div>

	<div class="pure-g main-content">
		<div class="pure-u-1 content-container">
			<div class="content">
			    
				<header class="section-title section-text">
                    <span>Registration</span>
        		</header>

				<!--p class="login-status">You are logged in as {{ data.username }}. Click <a href="{{ data.logoutUrl }}">here</a> to register with a different account.</p--><br>

	            <form class="pure-form pure-g-r form-body" style="width:100%;" method="post">
	            	<div class="pure-u-1-5">
	            		<label class="form-label" for="name">Name</label>
	            	</div>
	            	<div class="pure-u-4-5">
	            		<!--Empty Grid Column for alignment-->
	            	</div>
					<div class="pure-u-1-2">
						<input id="nameFirst" class="pure-input-2-3" name="nameFirst" type="text" placeholder="First Name" required="required">
	        		</div>
	        		<div class="pure-u-1-2">
						<input id="nameLast" class="pure-input-2-3" name="nameLast" type="text" placeholder="Last Name" required="required">
	        		</div>

	        		<div class="pure-u-1">
	            		<h2>Personal Information</h2>
	            	</div>

	        		<div class="pure-u-1-5 new-form-field">
	            		<label class="form-label" for="name">E-mail</label>
	            	</div>
	            	<div class="pure-u-4-5">
	            		<!--Empty Grid Column for alignment-->
	            	</div>

					<div class="pure-u-1-2">
						<input id="email" class="pure-input-2-3" name="email" type="text" placeholder="E-mail" required="required" {% if data.email %}value="{{ data.email }}" onclick="this.select();"{% endif %}>
	        		</div>
	        		<div class="pure-u-1-2">
	        			<!--Empty Grid Column for alignment-->
	        		</div>

	        		<div class="pure-u-1-5 new-form-field">
	            		<label class="form-label" for="name">Gender</label>
	            	</div>
	            	<div class="pure-u-4-5">
	            		<!--Empty Grid Column for alignment-->
	            	</div>
					<div class="pure-u-1">
						<label class="label-checkbox" for="option-one" class="pure-checkbox">
					        <input id="gender-0" type="radio" name="gender" value="Male" checked>
					        Male
					    </label>

					    <label class="label-checkbox" for="option-two" class="pure-radio">
					        <input id="gender-1" type="radio" name="gender" value="Female">
					        Female
					    </label>

					    <label class="label-checkbox" for="option-three" class="pure-radio">
					        <input id="gender-3" type="radio" name="gender" value="N/A">
					        I'd rather not disclose
					    </label>
	        		</div>

	        		<div class="pure-u-1-5 new-form-field">
	            		<label class="form-label" for="name">School</label>
	            	</div>
	            	<div class="pure-u-4-5">
	            		<!--Empty Grid Column for alignment-->
	            	</div>
	        		<div class="pure-u-1">
	        			<select id="school" name="school" class="form-control" required="required" onchange="CheckOther(this.value);">
							<option selected="">Select one...</option>
							<option>University of Illinois at Urbana-Champaign</option>
							<option>Massachusetts Institute of Technology</option>
							<option>Stanford University</option>
							<option>University of California, Berkeley</option>
							<option>California Institute of Technology</option>
							<option>Georgia Institute of Technology</option>
							<option>Carnegie Mellon University</option>
							<option>Cornell University</option>
							<option>University of Michigan, Ann Arbor</option>
							<option>Purdue University, West Lafayette</option>
							<option>University of Texas at Austin</option>
							<option>University of Wisconsin, Madison</option>
							<option>Princeton University</option>
							<option>University of Washington</option>
							<option>Other</option>
						</select>
	        		</div>

	        		<div class="pure-u-1-5 new-form-field">
	            		<label class="form-label" for="name">Year in School</label>
	            	</div>
	            	<div class="pure-u-4-5">
	            		<!--Empty Grid Column for alignment-->
	            	</div>
					<div class="pure-u-1">
						<label class="label-checkbox" for="year-0" class="pure-checkbox">
					        <input type="radio" name="year" id="year-0" value="Freshman" required="required">
					        Freshman
					    </label>

					    <label class="label-checkbox" for="year-1" class="pure-radio">
					        <input type="radio" name="year" id="year-1" value="Sophomore" required="required">
					        Sophomore
					    </label>

					    <label class="label-checkbox" for="year-2" class="pure-radio">
					        <input type="radio" name="year" id="year-2" value="Junior" required="required">
					        Junior
					    </label>
					    <label class="label-checkbox" for="year-3" class="pure-radio">
					        <input type="radio" name="year" id="year-3" value="Senior" required="required">
					        Senior
					    </label>
	        		</div>

	        		<div class="pure-u-1-5 new-form-field">
	            		<label class="form-label" for="name">Previous Experience</label>
	            	</div>
	            	<div class="pure-u-4-5">
	            		<!--Empty Grid Column for alignment-->
	            	</div>
					<div class="pure-u-1">
						<textarea id="experience" name="experience" class="form-control textarea-experience" rows="5" placeholder="Other hackathons, any awards, cool projects? Let us know!"></textarea>
					</div>

					<div class="pure-u-2-5 new-form-field">
	            		<label class="form-label" for="name" id="resume_message">Resume</label>
	            	</div>
	            	<div class="pure-u-4-5">
	            		<!--Empty Grid Column for alignment-->
	            	</div>
					<div class="pure-u-1">
						<input id="resume" name="resume" type="file" accept=".pdf" onchange="CheckFile(this);" required="required">
					</div>

					<div class="pure-u-1">
	            		<h2>Miscellaneous Information</h2>
	            	</div>

					<div class="pure-u-1-5 new-form-field">
	            		<label class="form-label" for="name">Links</label>
	            	</div>
	            	<div class="pure-u-4-5">
	            		<!--Empty Grid Column for alignment-->
	            	</div>
					<div class="pure-u-1">
						<input id="linkedin" name="linkedin" type="url" placeholder="URL of LinkedIn profile" class="form-control link-input">
					</div>
					<div class="pure-u-1">
						<input id="github" name="github" class="form-control link-input" placeholder="GitHub Username" type="text">
					</div>

					<div class="pure-u-1-5 new-form-field">
	            		<label class="form-label" for="name"></label>
	            	</div>
	            	<div class="pure-u-4-5">
	            		<!--Empty Grid Column for alignment-->
	            	</div>
	            		<div class="pure-u-1">
	            			<label class="form-label" for="name">T-Shirt Size</label>
	            		</div>
						<div class="pure-u-1">
							<label class="radio-inline" for="shirt-0">
								<input type="radio" name="shirt" id="shirt-0" class="label-checkbox" value="XS" required="required">
								XS
							</label>
							<label class="radio-inline" for="shirt-1">
								<input type="radio" name="shirt" id="shirt-1" class="label-checkbox" value="S" required="required">
								S
							</label>
							<label class="radio-inline" for="shirt-2">
								<input type="radio" name="shirt" id="shirt-2" class="label-checkbox" value="M" required="required">
								M
							</label>
							<label class="radio-inline" for="shirt-3">
								<input type="radio" name="shirt" id="shirt-3" class="label-checkbox" value="L" required="required">
								L
							</label>
							<label class="radio-inline" for="shirt-4">
								<input type="radio" name="shirt" id="shirt-4" class="label-checkbox" value="XL" required="required">
								XL
							</label>
							<label class="radio-inline" for="shirt-5">
								<input type="radio" name="shirt" id="shirt-5" class="label-checkbox" value="XXL" required="required">
								XXL
							</label>
						</div>

						<div class="pure-u-1 new-form-field">
	            			<label class="form-label" for="name">Dietary Restrictions</label>
	            		</div>
						<div class="pure-u-1">
							<label class="radio-inline" for="food-0">
								<input type="radio" name="food" id="food-0" class="label-checkbox" value="None" required="required">
								None
							</label>
							<label class="radio-inline" for="food-1">
								<input type="radio" name="food" id="food-1" class="label-checkbox" value="Vegetarian" required="required">
								Vegetarian
							</label>
							<label class="radio-inline" for="food-2">
								<input type="radio" name="food" id="food-2" class="label-checkbox" value="Vegan" required="required">
								Vegan
							</label>
							<label class="radio-inline" for="food-3">
								<input type="radio" name="food" id="food-3" class="label-checkbox" value="Gluten Free" required="required">
								Gluten Free
							</label>
						</div>

						<div class="pure-u-1 new-form-field">
							<textarea id="team" name="team" class="form-control textarea-team" rows="3" placeholder="Team members' email addresses (optional)"></textarea>
						</div>

						<div class="pure-u-1-5 new-form-field">
	            			<label class="form-label" for="name"></label>
	            		</div>
	            		<div class="pure-u-4-5">
	            			<!--Empty Grid Column for alignment-->
	            		</div>
	            		<div class="pure-u-1">
							<label class="checkbox" for="recruiters-0">
								<input type="checkbox" name="recruiters" id="recruiters-0" value="True">
								Let us share this information with recruiters. (Optional)
							</label>
						</div>

						<div class="pure-u-1-5 new-form-field">
	            			<label class="form-label" for="name"></label>
	            		</div>
	            		<div class="pure-u-4-5">
	            			<!--Empty Grid Column for alignment-->
	            		</div>
	            		<div class="pure-u-1">
							<label class="checkbox" for="picture-0">
								<input type="checkbox" name="picture" id="picture-0" value="True" required="required">
								I agree that my picture will be taken.
							</label>
						</div>

						<div class="pure-u-1-5 new-form-field">
	            			<label class="form-label" for="name"></label>
	            		</div>
	            		<div class="pure-u-4-5">
	            			<!--Empty Grid Column for alignment-->
	            		</div>
	            		<div class="pure-u-1">
							<label class="checkbox" for="termsOfService-0">
								<input type="checkbox" name="termsOfService" id="termsOfService-0" value="True" required="required">
								By signing up, I accept the Terms of Service
							</label>
						</div>

						<button type="submit" class="pure-button pure-button-primary">Submit</button>
					</form>
				
			</div>
		</div>
		<div class="pure-u-1 footer">
			<div class="pure-g-r">
				<div class="pure-u-1-2">
			        <div class="footer-copy">
			            &copy; HackIllinois 2014.
			            Co-hosted by <a href="http://www.inin.com" target="_blank">Interactive Intelligence</a>.
			        </div>
    			</div>
				<div class="pure-u-1-2 social-icons">
					<a href="https://www.facebook.com/hackillinois" target="_blank">
						<i class="fa fa-facebook"></i>
					</a>
					<a href="https://twitter.com/hackillinois" target="_blank">
						<i class="fa fa-twitter"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="js/index.js"></script>

{% endblock body %}


{% block spaceship %}
{% include "misc/spaceship.html" %}
{% endblock spaceship %}
							<option>Massachusetts Institute of Technology</option>
							<option>Stanford University</option>
							<option>University of California, Berkeley</option>
							<option>California Institute of Technology</option>
							<option>Georgia Institute of Technology</option>
							<option>Carnegie Mellon University</option>
							<option>Cornell University</option>
							<option>University of Michigan, Ann Arbor</option>
							<option>Purdue University, West Lafayette</option>
							<option>University of Texas at Austin</option>
							<option>University of Wisconsin, Madison</option>
							<option>Princeton University</option>
							<option>University of Washington</option>
							<option>Other</option>
						</select>
	        		</div>

	        		<div class="pure-u-1-5 new-form-field">
	            		<label class="form-label" for="name">Year in School</label>
	            	</div>
	            	<div class="pure-u-4-5">
	            		<!--Empty Grid Column for alignment-->
	            	</div>
					<div class="pure-u-1">
						<label class="label-checkbox" for="year-0" class="pure-checkbox">
					        <input type="radio" name="year" id="year-0" value="Freshman" required="required">
					        Freshman
					    </label>

					    <label class="label-checkbox" for="year-1" class="pure-radio">
					        <input type="radio" name="year" id="year-1" value="Sophomore" required="required">
					        Sophomore
					    </label>

					    <label class="label-checkbox" for="year-2" class="pure-radio">
					        <input type="radio" name="year" id="year-2" value="Junior" required="required">
					        Junior
					    </label>
					    <label class="label-checkbox" for="year-3" class="pure-radio">
					        <input type="radio" name="year" id="year-3" value="Senior" required="required">
					        Senior
					    </label>
	        		</div>

	        		<div class="pure-u-1-5 new-form-field">
	            		<label class="form-label" for="name">Previous Experience</label>
	            	</div>
	            	<div class="pure-u-4-5">
	            		<!--Empty Grid Column for alignment-->
	            	</div>
					<div class="pure-u-1">
						<textarea id="experience" name="experience" class="form-control textarea-experience" rows="5" placeholder="Other hackathons, any awards, cool projects? Let us know!"></textarea>
					</div>

					<div class="pure-u-2-5 new-form-field">
	            		<label class="form-label" for="name" id="resume_message">Resume</label>
	            	</div>
	            	<div class="pure-u-4-5">
	            		<!--Empty Grid Column for alignment-->
	            	</div>
					<div class="pure-u-1">
						<input id="resume" name="resume" type="file" accept=".pdf" onchange="CheckFile(this);" required="required">
					</div>

					<div class="pure-u-1-5 new-form-field">
	            		<label class="form-label" for="name">Links</label>
	            	</div>
	            	<div class="pure-u-4-5">
	            		<!--Empty Grid Column for alignment-->
	            	</div>
					<div class="pure-u-1">
						<input id="linkedin" name="linkedin" type="url" placeholder="URL of LinkedIn profile" class="form-control link-input">
					</div>
					<div class="pure-u-1">
						<input id="github" name="github" class="form-control link-input" placeholder="GitHub Username" type="text">
					</div>

					<div class="pure-u-1-5 new-form-field">
	            		<label class="form-label" for="name"></label>
	            	</div>
	            	<div class="pure-u-4-5">
	            		<!--Empty Grid Column for alignment-->
	            	</div>
	            		<div class="pure-u-1">
	            			<label class="form-label" for="name">T-Shirt Size</label>
	            		</div>
						<div class="pure-u-1">
							<label class="radio-inline" for="shirt-0">
								<input type="radio" name="shirt" id="shirt-0" class="label-checkbox" value="XS" required="required">
								XS
							</label>
							<label class="radio-inline" for="shirt-1">
								<input type="radio" name="shirt" id="shirt-1" class="label-checkbox" value="S" required="required">
								S
							</label>
							<label class="radio-inline" for="shirt-2">
								<input type="radio" name="shirt" id="shirt-2" class="label-checkbox" value="M" required="required">
								M
							</label>
							<label class="radio-inline" for="shirt-3">
								<input type="radio" name="shirt" id="shirt-3" class="label-checkbox" value="L" required="required">
								L
							</label>
							<label class="radio-inline" for="shirt-4">
								<input type="radio" name="shirt" id="shirt-4" class="label-checkbox" value="XL" required="required">
								XL
							</label>
							<label class="radio-inline" for="shirt-5">
								<input type="radio" name="shirt" id="shirt-5" class="label-checkbox" value="XXL" required="required">
								XXL
							</label>
						</div>

						<div class="pure-u-1 new-form-field">
	            			<label class="form-label" for="name">Dietary Restrictions</label>
	            		</div>
						<div class="pure-u-1">
							<label class="radio-inline" for="food-0">
								<input type="radio" name="food" id="food-0" class="label-checkbox" value="None" required="required">
								None
							</label>
							<label class="radio-inline" for="food-1">
								<input type="radio" name="food" id="food-1" class="label-checkbox" value="Vegetarian" required="required">
								Vegetarian
							</label>
							<label class="radio-inline" for="food-2">
								<input type="radio" name="food" id="food-2" class="label-checkbox" value="Vegan" required="required">
								Vegan
							</label>
							<label class="radio-inline" for="food-3">
								<input type="radio" name="food" id="food-3" class="label-checkbox" value="Gluten Free" required="required">
								Gluten Free
							</label>
						</div>

						<div class="pure-u-1 new-form-field">
							<textarea id="team" name="team" class="form-control textarea-team" rows="3" placeholder="Team members' email addresses (optional)"></textarea>
						</div>

						<div class="pure-u-1-5 new-form-field">
	            			<label class="form-label" for="name"></label>
	            		</div>
	            		<div class="pure-u-4-5">
	            			<!--Empty Grid Column for alignment-->
	            		</div>
	            		<div class="pure-u-1">
							<label class="checkbox" for="recruiters-0">
								<input type="checkbox" name="recruiters" id="recruiters-0" value="True">
								Let us share this information with recruiters. (Optional)
							</label>
						</div>

						<div class="pure-u-1-5 new-form-field">
	            			<label class="form-label" for="name"></label>
	            		</div>
	            		<div class="pure-u-4-5">
	            			<!--Empty Grid Column for alignment-->
	            		</div>
	            		<div class="pure-u-1">
							<label class="checkbox" for="picture-0">
								<input type="checkbox" name="picture" id="picture-0" value="True" required="required">
								I agree that my picture will be taken.
							</label>
						</div>

						<div class="pure-u-1-5 new-form-field">
	            			<label class="form-label" for="name"></label>
	            		</div>
	            		<div class="pure-u-4-5">
	            			<!--Empty Grid Column for alignment-->
	            		</div>
	            		<div class="pure-u-1">
							<label class="checkbox" for="termsOfService-0">
								<input type="checkbox" name="termsOfService" id="termsOfService-0" value="True" required="required">
								By signing up, I accept the Terms of Service
							</label>
						</div>

						<button type="submit" class="pure-button pure-button-primary">Submit</button>
					</form>

    </div>
</div>
<script src="js/register.js"></script>

{% endblock subpage_body %}