{% extends "base/subpage.html" %}

{% block subpage_body %}

<div class="wrapper-content">
    <div class="grid-scaffold">
        <div class="pure-g-r">
            <div class="pure-u-1 section-divide">
                <header class="section-title section-text">
                    <span>Research</span>
                </header>
            </div>
            <div class="pure-u-1">
              <div class="research-text">
                  <p>
                    Thanks for you participation in the HackIllinois survey!

                    You response will help us make a better HackIllinois experience and to
                    better understand the way that groups form and
                    work together at hackathons.

                    If you complete both portions of the survey, you will be entered into
                    a lottery for a $100 Amazon gift card. If you win,
                    an email will be sent to the email associated with
                    your HackIllinois application.

                    We are also conducitng interviews about the
                    hackathon experience throughout the event and we
                    would love your participation. If you would like
                    to particiapte, email cagleas2@illinois.edu or
                    find us around Siebel Center!

                    If you have any questions, please contact Cole Gleason at cagleas2@illinois.edu.
                  </p>
              </div>
            </div>
        </div>
    </div>
</div>

{% endblock subpage_body %}
