{% extends "base/base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/css/index.css">
<link rel="stylesheet" type="text/css" href="/lib/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/lib/selectize/css/selectize.bootstrap3.css">
<link rel="stylesheet" type="text/css" href="/css/apply.css">
{% endblock head %}

{% block body %}
<div class="wrapper bg-stars">
	<div class="const">
		<img class="constellations" src="/img/constellations.png">
	</div>
	<div class="container">
	    <a href="/">
	        <img class="logo-main-svg header img-responsive center-block" src="/img/hackillinois_logo.svg"/>
	    </a>

    	<h2 class="info-text t-centered">{{ data.title }}</h2>

		<div>
			<p class="loggedin">Hello {{ data.username }}! <a class="rules-link" href="{{ data.logoutUrl }}">Not you</a>?</p>
		</div>
		<div style="" class="regform-container">
			<form id="application" class="form-horizontal" role="form" action="{{ data.uploadUrl }}" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="control-label col-sm-3 launcher-btn" for="micro1">Microcontrollers</label>
                    <div class="controls col-sm-9">
                        <label class="checkbox-inline micro1-options" for="micro1-0">
                            <input type="checkbox" name="micro1" id="micro1-0" value="arduinos"/> Arduinos
                        </label>
                        <label class="checkbox-inline micro1-options" for="micro1-1">
                            <input type="checkbox" name="micro1" id="micro1-1" value="pi"/> Raspberry Pi
                        </label>
                        <label class="checkbox-inline micro1-options" for="micro1-2">
                            <input type="checkbox" name="micro1" id="micro1-2" value="other"/> Other
                        </label>
                        <span class="help-block no-bottom-margin">Note that you will need to return these items by the end of the event. Cables are included.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3 launcher-btn" for="micro2">Microcontrollers</label>
                    <div class="controls col-sm-9">
                        <label class="checkbox-inline micro2-options" for="micro2-0">
                            <input type="checkbox" name="micro2" id="micro2-0" value="imp"/> Electric Imp Dev Kit
                        </label>
                        <label class="checkbox-inline micro2-options" for="micro2-1">
                            <input type="checkbox" name="micro2" id="micro2-1" value="spark"/> Spark.io
                        </label>
                        <span class="help-block no-bottom-margin">You will be able to keep these.</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3 launcher-btn" for="lab">Lab Equipment</label>
                    <div class="controls col-sm-9">
                        <label class="checkbox-inline lab-options" for="lab-0">
                            <input type="checkbox" name="lab" id="lab-0" value="power"/> Power Supplies
                        </label>
                        <label class="checkbox-inline lab-options" for="lab-1">
                            <input type="checkbox" name="lab" id="lab-1" value="oscilloscopes"/> Oscilloscopes
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3 launcher-btn" for="more">Anything Else?</label>
                    <div class="controls col-sm-9">
                        <textarea class="form-control" id="more" name="more" rows="5"></textarea>
                        <span class="help-block no-bottom-margin">If you are looking for specific parts, please include links.</span>
                    </div>
                </div>
			</form>
		</div>
	</div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<!--script src="/js/jquery.min.js"></script-->
<script src="/lib/selectize/js/standalone/selectize.min.js"></script>
<script src="/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/easing.min.js"></script>
<script src="/js/apply-ui.js"></script>
<script src="/js/apply.js"></script>
{% endblock body %}
