{% extends "base/base2.html" %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/lib/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/lib/selectize/css/selectize.bootstrap3.css">
<style type="text/css">
    .header {
        margin-top: 50px;
    }
</style>
{% endblock stylesheets %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="container header">
                <a href="/"><img class="img-responsive center-block" src="/img/hackillinois_logo.svg"/></a>
                <h2 class="text-center">{{ data.title }}</h2>
                <p class="text-center">Hello {{ data.username }}! <a class="rules-link" href="{{ data.logoutUrl }}">Not you</a>?</p>
            </div>
            <div class="container">
                <form class="form-horizontal" role="form" action="/apply/rsvp" method="post">
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="attend">Will you be attending Hackillinois?</label>
                        <div class="controls col-sm-8">
                            <label class="radio-inline" for="attend-0">
                                <input type="radio" name="attend" id="attend-0" value="yes" required>
                                Yes!
                            </label>
                            <label class="radio-inline" for="attend-1">
                                <input type="radio" name="attend" id="attend-1" value="no" required>
                                No, please release my spot.
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="micro2">Microcontrollers</label>
                        <div class="controls col-sm-8">

                            {% for m1 in data.micro1 %}
                            <label class="micro1-options checkbox-inline" for="micro1-{{ loop.index0 }}">
                                <input type="checkbox" name="micro1" id="micro1-{{ loop.index0 }}" value="{{ m1.name }}" {% if m1.checked %}checked{% endif %}/>
                                {{ m1.name }}
                            </label>
                            {% endfor %}
                            <span class="help-block no-bottom-margin">Note that you will need to return these items by the end of the event. Cables are included.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="micro2">Microcontrollers</label>
                        <div class="controls col-sm-8">
                            <label class="checkbox-inline micro2-options" for="micro2-0">
                                <input type="checkbox" name="micro2" id="micro2-0" value="imp"/> Electric Imp Dev Kit
                            </label>
                            <label class="checkbox-inline micro2-options" for="micro2-1">
                                <input type="checkbox" name="micro2" id="micro2-1" value="spark"/> Spark.io
                            </label>
                            <span class="help-block no-bottom-margin">You will be able to keep these.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="lab">Lab Equipment</label>
                        <div class="controls col-sm-8">
                            <label class="checkbox-inline lab-options" for="lab-0">
                                <input type="checkbox" name="lab" id="lab-0" value="power"/> Power Supplies
                            </label>
                            <label class="checkbox-inline lab-options" for="lab-1">
                                <input type="checkbox" name="lab" id="lab-1" value="oscilloscopes"/> Oscilloscopes
                            </label>
                        </div>
                    </div>
                    <div class="form-group" style="">
                        <div class="col-sm-4"></div>
                        <label class="control-label sr-only"></label>
                        <div class="controls col-sm-4">
                            <button id="rsvp-submit" type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}


{% block scripts %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/lib/selectize/js/standalone/selectize.min.js"></script>
<script src="/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/easing.min.js"></script>
<script type="text/javascript">
$(document).ready(function () {
    $('#attend-0').on('click', function () {
        // $('#rsvp-submit').removeAttr('disabled');
        // $('#rsvp-submit').removeClass("submit-disabled");
    });
    $('#attend-1').on('click', function () {
        // $('#rsvp-submit').removeAttr('disabled');
        // $('#rsvp-submit').removeClass("submit-disabled");
    });
});
</script>
{% endblock %}