{% extends "base/subpage.html" %}

{% block subpage_body %}

<div class="wrapper-content">
    <div class="grid-scaffold">
        <div class="pure-g-r">
            <div class="pure-u-1 section-divide">
                <header class="section-title section-text">
                    <span>Rules</span>
                </header>
            </div>
            <div class="pure-u-1">
                <div class="rules-text first-text">
                    <h3>In A Nutshell...</h3>
                    <p>Use common sense, and listen to HackIllinois staff. <a href="mailto:contact@hackillinois.org">Let us know</a> if you have any questions!</p>
                </div>
                <div class="rules-text">
                    <h3>General</h3>
                    <p>Rules are subject to change at any time without notice. Decisions by the HackIllinois team are final. Be sure to read our <a href="/code-of-conduct">code of conduct</a>.</p>
                </div>
                <div class="rules-text">
                    <h3>Participation</h3>
                    <p>All participants must be full-time or part-time University students during Spring 2014 except where permission is explicitly given. (We’re willing to work with high school students — <a href="mailto:contact@hackillinois.org">contact us</a>). Participation is closed to family members of judges. Upon participation in this event, it is implied that we reserve the right to share your resume and other application material with our corporate sponsors.</p>
                </div>
                <div class="rules-text">
                    <h3>Teams</h3>
                    <p>Teams must consist of between 1 and 4 participants. Teams must submit a list of members upon submitting their hack by Sunday April 13th, 2014  at 10:00 am. Any modifications after that must be approved by organizers. You can, by all means go solo, but we encourage you to work in groups!</p>
                </div>
                <div class="rules-text">
                    <h3>Submissions</h3>
                    <p>Each team is permitted one submission that must be received by 10:00am on Sunday, April 13th, 2014. Code submitted must be produced only by team members and written during HackIllinois from the starting time on Friday, April 11th, 2014 to the submission time. If you are continuing a previous project or using old code written by you, let us know on the project submission form. Third party libraries are allowed without notice provided that they are publicly available to any participant. All code you create at HackIllinois is owned by you, and may be made open source at your discretion. By submitting a project, you and your team grant the HackIllinois team the unrestricted right to use your submission material, at no cost, for promotional purposes of future HackIllinois events.</p>
                </div>
                <div class="rules-text">
                    <h3>Judging Criteria</h3>
                    <p>Teams’ demos will be judged on several criteria including usefulness, technical difficulty, polish, and creativity. More details about the judging process will be provided closer to the event. Teams will not be told their scores during or after judging, and decisions by the judges and HackIllinois team are final.</p>
                </div>
                <div class="rules-text">
                    <h3>Project Fair</h3>
                    <p>At the end of the event, teams will showcase their projects in a project fair. During this time period, judges will proceed to all teams, and a team will have one to two minutes to demo their projects in a project fair. A team’s presentation may be interrupted by a judge at any time. Teams must be ready to demo when the judges reach their table, and passing on a judge relinquishes the right to be judged. Corporate prizes are judged directly by the company, and HackIllinois is not responsible for the criteria used by these companies.</p>
                </div>
                <div class="rules-text">
                    <h3>Winners</h3>
                    <p>Winners for general HackIllinois prizes will be selected by a combination of corporate judges and judges provided by HackIllinois. Each winning team will be responsible for working with the University of Illinois Computer Science department to arrange for the payment to be sent. Corporate prizes are judged by the respective company, and are provided directly from a company to the winning team. The winning team is responsible for all taxes associated with a prize.</p>
                </div>
                <div class="rules-text">
                    <h3>Photos</h3>
                    <p>By attending HackIllinois, you acknowledge that your picture and video may be used without compensation, prior permission, or notification in any promotional material related to HackIllinois.</p>
                </div>
                <div class="rules-text last-text">
                    <h3>Did we miss something?</h3>
                    <p>Have a question, or think there's something we should have included here, but didn’t? <a href="mailto:contact@hackillinois.org">Drop us a line</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock subpage_body %}
