{% extends "base/subpage.html" %}

{% block subpage_body %}

<div class="wrapper-content sticky-footer-wrapper-fix">
    <div class="grid-scaffold">
        <div class="pure-g">
            <div class="pure-u-1 section-divide">
                <header class="section-title section-text">
                    <span>Schedule</span>
                </header>
            </div>
            <div class="pure-u-1">
                <div class="bullets-centered">
                    <h3 class="schedule-heading">Friday, April 11 2014</h3>
                    <ul class="hil-schedule">
                        <li class="first-schedule-item schedule-item">
                            <time class="first-time-item">6 PM</time>
                            <h6>Registration</h6>
                        </li>
                        <li class="schedule-item">
                            <time>8 PM</time>
                            <h6>Kickoff + API Demos</h6>
                        </li>
                        <li class="schedule-item">
                            <time>10 PM</time>
                            <h6>Ready, set, Hack!</h6>
                        </li>
                        <li class="schedule-item">
                            <time>10:15 PM</time>
                            <h6>Dinner</h6>
                        </li>
                        <li class="schedule-item">
                            <time>11 PM</time>
                            <h6>Pebble Tutorial (Siebel 1404)</h6>
                        </li>
                        <li class="schedule-item">
                            <time class="addition"></time>
                            <h6>Electric Imp Tutorial (DCL 1310)</h6>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="pure-u-1">
                <div class="bullets-centered">
                    <h3 class="schedule-heading">Saturday, April 12 2014</h3>
                    <ul class="hil-schedule">
                         <li class="first-schedule-item schedule-item">
                            <time class="first-time-item">12 AM</time>
                            <h6>Midnight Snack</h6>
                        </li>
                        <li class="schedule-item">
                            <time class="first-time-item">8 AM</time>
                            <h6>Breakfast</h6>
                        </li>
                        <li class="schedule-item">
                            <time>10 AM</time>
                            <h6>Interactive Intelligence Tech Talk (Siebel 1404)</h6>
                        </li>
                        <li class="schedule-item">
                            <time class="addition"></time>
                            <h6>Yahoo Tech Talk (DCL 1310)</h6>
                        </li>
                        <li class="schedule-item">
                            <time>11 AM</time>
                            <h6>NIKSUN Tech Talk (Siebel 1404)</h6>
                        </li>
                        <li class="schedule-item">
                            <time class="addition"></time>
                            <h6>John Deere Tech Talk (DCL 1310)</h6>
                        </li>
                        <li class="schedule-item">
                            <time>12 PM</time>
                            <h6>Lunch</h6>
                        </li>
                        <li class="schedule-item">
                            <time>1 PM</time>
                            <h6>Wolfram Tech Talk (Siebel 1404)</h6>
                        </li>
                        <li class="schedule-item">
                            <time class="addition"></time>
                            <h6>Goldman Sachs Tech Talk (DCL 1310)</h6>
                        </li>
                        <li class="schedule-item">
                            <time class="addition"></time>
                            <h6>Allston Tech Talk (Siebel 4405)</h6>
                        </li>
                        <li class="schedule-item">
                            <time>1:30 PM</time>
                            <h6>Space Puppies&#8482;</h6>
                        </li>
                        <li class="schedule-item">
                            <time>2 PM</time>
                            <h6>Answers.com Tech Talk (Siebel 1404)</h6>
                        </li>
                        <li class="schedule-item">
                            <time class="addition"></time>
                            <h6>Bloomberg Tech Talk (DCL 1310)</h6>
                        </li>
                        <li class="schedule-item">
                            <time>3 PM</time>
                            <h6>IMO Tech Talk (Siebel 1404)</h6>
                        </li>
                        <li class="schedule-item">
                            <time>4 PM</time>
                            <h6>West Monroe Tech Talk (Siebel 1404)</h6>
                        </li>
                        <li class="schedule-item">
                            <time class="addition"></time>
                            <h6>Trunk Club Tech Talk (DCL 1310)</h6>
                        </li>
                        <li class="schedule-item">
                            <time>5 PM</time>
                            <h6>General Electric Tech Talk (Siebel 1404)</h6>
                        </li>
                        <li class="schedule-item">
                            <time>6 PM</time>
                            <h6>Dinner</h6>
                        </li>
                        <li class="schedule-item">
                            <time>7-12 PM</time>
                            <h6>More Mandatory Space Fun&#8482; - Nerf Fights!</h6>
                        </li>
                        <li class="schedule-item">
                            <time class="addition"></time>
                            <h6>Hologram Workshop</h6>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="pure-u-1">
                <div class="bullets-centered">
                    <h3 class="schedule-heading">Sunday, April 13 2014</h3>
                    <ul class="hil-schedule">
                        <li class="first-schedule-item schedule-item">
                            <time class="first-time-item">10 AM</time>
                            <h6>Breakfast</h6>
                        </li>
                        <li class="schedule-item">
                            <time class="first-time-item"></time>
                            <h6>Stop hacking!</h6>
                        </li>
                        <li class="schedule-item">
                            <time>11 AM</time>
                            <h6>Expo</h6>
                        </li>
                        <li class="schedule-item">
                            <time>1 PM</time>
                            <h6>Judging</h6>
                        </li>
                        <li class="schedule-item second-last-item">
                            <time>2 PM</time>
                            <h6>Final Presentation (Top 10 teams)</h6>
                        </li>
                        <li class="schedule-item after-no-dot no-time last-item">
                            <time class="last-time">4 PM</time>
                            <h6>Buses depart</h6>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock subpage_body %}