{% extends "base/subpage.html" %}

{% block subpage_body %}

<div class="wrapper-content sticky-footer-wrapper-fix">
    <div class="grid-scaffold">
        <div class="pure-g-r">
            <div class="pure-u-1 section-divide">
                <header class="section-title section-text">
                    <span>Schedule</span>
                </header>
            </div>
            <div class="pure-u-1-2">
                <div class="bullets-centered">    
                    <h3 class="schedule-heading">Friday, April 11 2014</h3>
                    <ul class="hil-schedule">
                        <li class="first-schedule-item schedule-item">
                            <time class="first-time-item">6 PM</time>
                            <h6>Registration</h6>
                        </li>
                        <li class="schedule-item">
                            <time>8 PM</time>
                            <h6>Kickoff + API Demos</h6>
                        </li>
                        <li class="schedule-item">
                            <time>10 PM</time>
                            <h6>Ready, set, Hack!</h6>
                            <h6 class="no-dot">Dinner</h6>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="pure-u-1-2">
                <div class="bullets-centered">    
                    <h3 class="schedule-heading">Saturday, April 12 2014</h3>
                    <ul class="hil-schedule">
                        <li class="first-schedule-item schedule-item">
                            <time class="first-time-item">8 AM</time>
                            <h6>Breakfast</h6>
                        </li>
                        <li class="schedule-item">
                            <time>10 AM</time>
                            <h6>Tech Talks</h6>
                        </li>
                        <li class="schedule-item">
                            <time>1 PM</time>
                            <h6>Lunch, Tech talks</h6>
                            <h6 class="no-dot">Mandatory Space Fun&#8482;</h6>
                        </li>
                        <li class="schedule-item after-no-dot last-item">
                            <time>8 PM</time>
                            <h6>Dinner</h6>
                            <h6 class="no-dot">More Mandatory Space Fun&#8482;</h6>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="pure-u-1">
                <div class="bullets-centered">    
                    <h3 class="schedule-heading">Sunday, April 13 2014</h3>
                    <ul class="hil-schedule">
                        <li class="first-schedule-item schedule-item">
                            <time class="first-time-item">8 AM</time>
                            <h6>Breakfast</h6>
                        </li>
                        <li class="schedule-item">
                            <time>10 AM</time>
                            <h6>Stop hacking!</h6>
                        </li>
                        <li class="schedule-item">
                            <time>12 PM</time>
                            <h6>Expo</h6>
                        </li>
                        <li class="schedule-item">
                            <time>1 PM</time>
                            <h6>Judging</h6>
                        </li>
                        <li class="schedule-item second-last-item">
                            <time>2 PM</time>
                            <h6>Final Presentation</h6>
                            <h6 class="no-dot">(Top 10 teams)</h6>
                        </li>
                        <li class="schedule-item after-no-dot no-time last-item">
                            <time class="last-time">4 PM</time>
                            <h6>Buses depart</h6>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock subpage_body %}