{% extends "base/base.html" %}

{% block head %}
{% include 'base/default_css_and_fonts.html' %}
    <link rel="stylesheet" type="text/css" href="/css/shared.css">
    <link rel="stylesheet" type="text/css" href="/css/simple_message.css">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=155257424626158";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
{% endblock head %}

{% block body %}
<img class="constellations" src="/img/constellations.png"/>
<header class="logo">
    <a href="/"><img class="logo-main-svg header img-responsive center-block" src="/img/hackillinois_logo.svg"/></a>
    <h2 class="info-text t-centered">{{ header }}</h2>
</header>

<div class="pure-g-r">
    <section class="reg-message pure-u-1-3">
        {{ message|safe }}
        {% if showSocial %}
        <div class="social-follow">
            <span class="facebook-frame">
                <div class="fb-like" data-href="https://www.facebook.com/hackillinois" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
            </span>
            <p class="mobile-break"></p>
            <span class="twitter-frame">
                <iframe allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:132px; height:21px;" src="https://platform.twitter.com/widgets/follow_button.html?screen_name=hackillinois&amp;show_count=false&amp;lang=en&amp;show_screen_name=true&amp;dnt=true"></iframe>
                <iframe allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:56px; height:21px;" src="https://platform.twitter.com/widgets/tweet_button.html?url=http%3A%2F%2Fwww.hackillinois.org&amp;text=I%20just%20signed%20up%20for%20%40HackIllinois%2C%20a%2036-hour%20hackathon%20at%20the%20University%20of%20Illinois%20-%20You%20should%20come!&amp;count=none&amp;hashtags=HackIL&amp;dnt=true"></iframe>
            </span>
        </div>
        {% endif %}
    </section>
</div>

{% endblock body %}