{% extends "base/subpage.html" %}

{% block subpage_body %}

<div class="wrapper-content">
    <div class="grid-scaffold">
        <div class="pure-g-r">
            <div class="pure-u-1 section-divide">
                <header class="section-title section-text">
                    <span>Sponsor FAQ</span>
                </header>
            </div>
            <div class="pure-u-1">
                <div class="rules-text first-text">
                    <h3>Mentors</h3>
                    <p>Our goal with HackIllinois is to empower students to experiment with their ideas, and to make a space where it’s encouraged to try something new. We want everyone to leave on Sunday proud of what they built. As sponsors, you have incredibly smart engineers working on all aspects of technology and can bring that expertise to HackIllinois. The most successful hackathon mentors make themselves available to help with any problem a team runs into, and that’s the sort of collaboration we’re working to encourage. 
                    <br>
                    I’ll provide more specifics on mentoring as we get closer to the event, but I’m mentioning it now so you can find the best engineers for the job. 36 hours is a long time, and I encourage you to pick people who are energetic!</p>
                </div>
                <div class="rules-text">
                    <h3>Recruiters</h3>
                    <p>Hackathons are an awesome opportunity to see the best students at work. One of our sponsors told us “one thing we’ve learned from hackathons is that, unlike a career fair, sponsors are sort of secondary. They come to help hackathon attendees achieve their goals, and in the end a hacker will remember the logo on the jacket of the person that helped them.” Recruiters come to hackathons to build face-to-face relationships with students, and you can see what a team is creating as they’re building it. There won’t be a standard career fair, but there’s a place for you to meet teams in person. We’re also providing resumes and other candidate information online.</p>
                </div>
                <div class="rules-text">
                    <h3>Schedule</h3>
                    <p>Attendee registration begins at 6:00 PM. We would like sponsors to be at <a href="https://www.google.com/maps/dir//Thomas+M.+Siebel+Center+for+Computer+Science,+201+N+Goodwin+Ave,+Urbana,+IL+61801/@40.1141041,-88.2248157,16z/data=!3m1!5s0x880cd76a59dfc601:0x241c8874383c4540!4m13!1m4!3m3!1s0x880cd76baa8479a9:0x4e9f01d40d359630!2sThomas+M.+Siebel+Center+for+Computer+Science!3b1!4m7!1m0!1m5!1m1!1s0x880cd76baa8479a9:0x4e9f01d40d359630!2m2!1d-88.224888!2d40.11384" target="_blank">Siebel Center</a> by <b style="font-weight: bold;">5:00 PM on Friday, April 11</b> so we have time to check you in out without a large crowd. Over the course of the weekend, you’re welcome to spend as much time at HackIllinois as you’d like. I’m attaching an event schedule and will explain some more details below. </p>
                </div>
                <div class="rules-text">
                    <h3>Swag</h3>
                    <p>Please let us know what you will be sending or bringing so that we make sure we have plenty of room to store it all before and during the hackathon. You’re welcome to send us swag in advance, but please tip me off that it’s coming!
                    <br>
                    If you are a Big Dipper, Orion, or Supernova sponsor: You can send us swag to be distributed to everyone in the swag bags (along with some fun swag we’re providing!). We’re looking for about 900-1000 of whatever item it may be, and the more creative you make it the more of an impact it will have. Please let us know as soon as you can if you would like to take advantage of this. :)
                    <br><br>
                    <address>
                    Our address is:<br>
                    HackIllinois<br>
                    201 N. Goodwin Ave<br>
                    Urbana, IL, 61801<br>
                    </address>
                    </p>
                </div>
                <div class="rules-text">
                    <h3>Submissions</h3>
                    <p>Each team is permitted one submission that must be received by 10:00am on Sunday, April 13th, 2014. Code submitted must be produced only by team members and written during HackIllinois from the starting time on Friday, April 11th, 2014 to the submission time. If you are continuing a previous project or using old code written by you, let us know on the project submission form. Third party libraries are allowed without notice provided that they are publicly available to any participant. By submitting a project, you and your team grant the HackIllinois team the unrestricted right to use your submission material, at no cost, for promotional purposes of future HackIllinois events.</p>
                </div>
                <div class="rules-text">
                    <h3>Hotels</h3>
                    <p>For those of you coming from out of town, we’re working to find blocks of rooms at nearby hotels for you to reserve. If you would like to reserve a block at one of the hotels we are working with, please send a request to <a href="mailto:travel@hackillinois.org">travel@hackillinois.org</a>.</p>
                </div>
                <div class="rules-text last-text">
                    <h3>Refund Policy</h3>
                    <p>We understand that sometimes plans don’t work out at the last minute, so we are allowing refunds of sponsorship funds until March 10th, 2014. After that date, a refund will no longer be possible. To request a refund on your sponsorship we will require a written refund request be sent to <a href="mailto:sponsor@hackillinois.org">sponsor@hackillinois.org</a> by March 10th.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock subpage_body %}
