{% extends "base/base_status.html" %}

{% block subpage_body %}
<div class="countdown">
    <div id="countdown-endtext"></div>
    <div class="countdown-time"></div>
        <div id="countdown-hours"></div>
        <div class="countdown-colon">:</div>
        <div id="countdown-minutes"></div>
    </div>
</div>
<div class="wrapper-content sticky-footer-wrapper-fix">
    <div class="status-grid-scaffold" style="">
        <div class="pure-g-r">
            <div class="pure-u-17-24">
                <div class="update-container">
                    <div class="updates">
                        {% for item in feed %}
                        <div class="update-unit">
                            <div class="update-img">
                                {% if item.img %}
                                <img alt="{{ item.img.alt }}" src="{{ item.img.src }}">
                                {% else %}
                                <img data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIj48L3JlY3Q+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+">
                                {% endif %}
                            </div>
                            <div class="update-heading-text">{{ item.heading }}</div>
                            <div class="update-timestamp">{{ item.time }}</div>
                            <p class="update-body-text">
                                {{ item.description|safe }}
                            </p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="pure-u-7-24">
                <a class="twitter-timeline" href="https://twitter.com/HackIllinois" data-widget-id="454815868661161985">Tweets by @HackIllinois</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
        </div>
    </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  countdown();
  setInterval(countdown, 1000);
  function countdown () {
  var now = moment(), // get the current moment
    // May 28, 2013 @ 12:00AM
    then = moment([2014, 3, 13, 10, 00, 00, 00]),
    // get the difference from now to then in ms
    ms = then.diff(now, 'milliseconds', true);
    // If you need years, uncomment this line and make sure you add it to the concatonated phrase
    /*
    years = Math.floor(moment.duration(ms).asYears());
    then = then.subtract('years', years);
    */
    // update the duration in ms
    ms = then.diff(now, 'milliseconds', true);
    // get the duration as months and round down
    months = Math.floor(moment.duration(ms).asMonths());
 
    // subtract months from the original moment (not sure why I had to offset by 1 day)
    then = then.subtract('months', months).subtract('days', 0);
    // update the duration in ms
    ms = then.diff(now, 'milliseconds', true);
    days = Math.floor(moment.duration(ms).asDays());

    then = then.subtract('days', days);
    // update the duration in ms
    ms = then.diff(now, 'milliseconds', true);
    hours = Math.floor(moment.duration(ms).asHours());
    hours=hours+24

    //console.log(hours);
    then = then.subtract('hours', hours);

    // update the duration in ms
    ms = then.diff(now, 'milliseconds', true);
    minutes = Math.floor(moment.duration(ms).asMinutes());
    minutes=minutes+1400;
    minutes=Math.abs(minutes);
    then = then.subtract('minutes', minutes);
    //console.log(minutes);
    minutes-=1;
    if(minutes<10) {

        minn = String(minutes);
        final_min = "0"+minn;
        minutes = final_min;
    }
    // update the duration in ms
    ms = then.diff(now, 'milliseconds', true);
    seconds = Math.floor(moment.duration(ms).asSeconds());
 
    // concatenate the variables

    if(hours>36) {
        hours = hours-36;
        hackingStatus = "Hacking starts in";
        diffHours = '<span class="num">' + hours + '</span>';
        diffMins = '<span class="num">' + minutes + '</span>';
    }
    else {
        hackingStatus = "Hacking ends in";
        diffHours = '<span class="num">' + hours + '</span>'
        diffMins = '<span class="num">' + minutes + '</span>';
    }

    $('#countdown-endtext').html(hackingStatus);
    $('#countdown-hours').html(diffHours);
    $('#countdown-minutes').html(diffMins);
 }
});

</script>
{% endblock subpage_body %}
