{% extends "base/subpage.html" %}

{% block subpage_body %}


<div class="wrapper-content sticky-footer-wrapper-fix">
    <div class="grid-scaffold">
        <div class="pure-g-r">
            <div class="pure-u-1 section-divide">
                <header class="section-title section-text">
                    <span>Travel</span>
                </header>
            </div>
            <div class="pure-u-1">
                <div class="about-text first-text">
                    <h3>Venue</h3>
                    <p><span class="venue-name">Thomas M. Siebel Center for Computer Science</span><br>
                    201 N. Goodwin Ave.<br>
                    Urbana, IL 61801</p>
                    <p>Phone: <a href="tel://+13127575638">312-757-5638</a></p>
                    <p>Directions: <a href="https://www.google.com/maps/preview#!data=!1m4!1m3!1d3095!2d-88.2248157!3d40.1141041!2m1!6s0x880cd76a59e77745%3A0x4b7f27ecae009835!4m36!3m16!1m0!1m5!1sThomas+M.+Siebel+Center+for+Computer+Science%2C+201+N+Goodwin+Ave%2C+Urbana%2C+IL+61801!2s0x880cd76baa8479a9%3A0x4e9f01d40d359630!3m2!3d40.11384!4d-88.224888!3m8!1m3!1d96776!2d-95.5290465!3d29.522312!3m2!1i1440!2i669!4f13.1!5m16!2m15!1m14!1s0x880cd76baa8479a9%3A0x4e9f01d40d359630!2ssiebel+center!3m8!1m3!1d96776!2d-95.5290465!3d29.522312!3m2!1i1440!2i669!4f13.1!4m2!3d40.11384!4d-88.224888!7m1!3b1&amp;fid=0">Google Maps</a></p>
                </div>
            </div>

            <div class="pure-u-1">
                <div class="about-text">
                    <h3>Bus Routes</h3>
                    <p>We're sending buses to and from the following schools!</p>
                    <ul>
                        <li>Purdue University</li>
                        <li>Iowa State University &rarr; Grinnell College &rarr; University of Iowa</li>
                        <li>Depaul University &rarr; Illinois Institute of Technology &rarr; University of Illinois at Chicago</li>
                        <li>Northwestern University &rarr; University of Chicago</li>
                        <li>Michigan Technological University &rarr; University of Wisconsin - Madison</li>
                        <li>Indiana University - Bloomington &rarr; Rose-Hulman Institute of Technology</li>
                        <li>University of Missouri - Columbia &rarr;  Washington University in St. Louis</li>
                        <li>Case Western Reserve University &rarr; Kent State University &rarr; Ohio State University</li>
                        <li>University of Michigan - Ann Arbor</li>
                    </ul>
                </div>
            </div>
            <div class="pure-u-1 section-divide">
                <header class="section-title section-text">
                    <span>Bus Timings</span>
                </header>
                <div class="about-text bus-text">
                All times below are in the time-zones of their respective locations.
                </div>
            </div>
            <div class="pure-u-1-2">
                <div class="bullets-centered">    
                    <h3 class="schedule-heading">Michigan Tech + UWisconsin</h3>
                    <ul class="hil-schedule">
                        <li class="first-schedule-item schedule-item">
                            <time class="first-time-item">6AM</time>
                            <h6>MTU (Houghton, MI)</h6>
                        </li>
                        <li class="schedule-item">
                            <time>1-2 PM</time>
                            <h6>UWM (Madison, WI)</h6>
                        </li>
                        <li class="schedule-item">
                            <time>6-7 PM</time>
                            <h6>UIUC (Champaign, IL)</h6>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="pure-u-1-2">
                <div class="bullets-centered">    
                    <h3 class="schedule-heading">Iowa State, Grinnell, U Iowa</h3>
                    <ul class="hil-schedule">
                        <li class="first-schedule-item schedule-item">
                            <time class="first-time-item">10AM</time>
                            <h6>Iowa State (Ames, IA)</h6>
                        </li>
                        <li class="schedule-item">
                            <time>11AM</time>
                            <h6>Grinnell (Grinnell, IA)</h6>
                        </li>
                        <li class="schedule-item">
                            <time>12:30PM</time>
                            <h6>U Iowa (Iowa City, IA)</h6>
                        </li>
                        <li class="schedule-item after-no-dot last-item">
                            <time>6-7PM</time>
                            <h6>UIUC (Champaign, IL)</h6>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="pure-u-1-2">
                <div class="bullets-centered">    
                    <h3 class="schedule-heading">Kent State, CWU, Ohio State</h3>
                    <ul class="hil-schedule">
                        <li class="first-schedule-item schedule-item">
                            <time class="first-time-item">10AM</time>
                            <h6>KSU (Kent, OH)</h6>
                        </li>
                        <li class="schedule-item">
                            <time>11AM</time>
                            <h6>CWU (Cleveland, OH)</h6>
                        </li>
                        <li class="schedule-item">
                            <time>1:30-2:30PM</time>
                            <h6>OSU (Columbus, IA)</h6>
                        </li>
                        <li class="schedule-item after-no-dot last-item">
                            <time>6-7PM</time>
                            <h6>UIUC (Champaign, IL)</h6>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="pure-u-1-2">
                <div class="bullets-centered">    
                    <h3 class="schedule-heading">UMissouri, WashU</h3>
                    <ul class="hil-schedule">
                        <li class="first-schedule-item schedule-item">
                            <time class="first-time-item">12PM</time>
                            <h6>UMissouri</h6>
                            <h6 class="no-dot">(Columbia, MO)</h6>
                        </li>
                        <li class="schedule-item">
                            <time>2PM</time>
                            <h6>WashU (St. Louis, MO)</h6>
                        </li>
                        <li class="schedule-item after-no-dot last-item">
                            <time>6-7PM</time>
                            <h6>UIUC (Champaign, IL)</h6>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="pure-u-1-2">
                <div class="bullets-centered">    
                    <h3 class="schedule-heading">Northwestern, UChicago</h3>
                    <ul class="hil-schedule">
                        <li class="first-schedule-item schedule-item">
                            <time class="first-time-item">2:30PM</time>
                            <h6>Northwestern</h6>
                            <h6 class="no-dot">(Evanston, IL)</h6>
                        </li>
                        <li class="schedule-item">
                            <time>3PM</time>
                            <h6>UChicago (Chicago, IL)</h6>
                        </li>
                        <li class="schedule-item after-no-dot last-item">
                            <time>6-7PM</time>
                            <h6>UIUC (Champaign, IL)</h6>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="pure-u-1-2">
                <div class="bullets-centered">    
                    <h3 class="schedule-heading">DePaul, UIC, IIT</h3>
                    <ul class="hil-schedule">
                        <li class="first-schedule-item schedule-item">
                            <time class="first-time-item">3PM</time>
                            <h6>DePaul (Chicago, IL)</h6>
                        </li>
                        <li class="schedule-item">
                            <time>3:15PM</time>
                            <h6>UIC (Chicago, IL)</h6>
                        </li>
                        <li class="schedule-item">
                            <time>3:45PM</time>
                            <h6>IIT (Chicago, IL)</h6>
                        </li>
                        <li class="schedule-item after-no-dot last-item">
                            <time>6-7PM</time>
                            <h6>UIUC (Champaign, IL)</h6>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="pure-u-1-2">
                <div class="bullets-centered">    
                    <h3 class="schedule-heading">Purdue</h3>
                    <ul class="hil-schedule">
                        <li class="first-schedule-item schedule-item">
                            <time class="first-time-item">4PM</time>
                            <h6>Purdue</h6>
                            <h6 class="no-dot">(W. Lafayette, IN)</h6>
                        </li>
                        <li class="schedule-item after-no-dot last-item">
                            <time>6-7PM</time>
                            <h6>UIUC (Champaign, IL)</h6>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="pure-u-1">
                <header class="section-title section-text">
                    <span>Bus Map</span>
                </header>
                <div class="about-text">
                    <iframe src="https://mapsengine.google.com/map/u/0/embed?mid=zT7MNo7w_E5Q.kZUTUr79s-Ic" width="100%" height="480"></iframe>
                </div>
            </div>
            <div class="pure-u-1">
                <div class="about-text last-text">
                    <h3>Reimbursement</h3>
                    <p>Unfortunately we will not be able to reimburse personal travel or provide travel reimbursements for HackIllinois 2014. Please try to ride a HackIllinois bus or find another means of travel. You're welcome to drive yourself or use public transit, but unfortunately we will not be able to provide reimbursement.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock subpage_body %}