{% extends "base/subpage.html" %}

{% block subpage_body %}


<div class="wrapper-content sticky-footer-wrapper-fix">
    <div class="grid-scaffold">
        <div class="pure-g-r">
            <div class="pure-u-1 section-divide">
                <header class="section-title section-text">
                    <span>Travel</span>
                </header>
            </div>
            <div class="pure-u-1">
                <div class="about-text first-text">
                    <h3>Venue</h3>
                    <p><span class="venue-name">Thomas M. Siebel Center for Computer Science</span><br>
                    201 N. Goodwin Ave.<br>
                    Urbana, IL 61801</p>
                    <p>Phone: <a href="tel://+13127575638">312-757-5638</a></p>
                    <p>Directions: <a href="https://www.google.com/maps/preview#!data=!1m4!1m3!1d3095!2d-88.2248157!3d40.1141041!2m1!6s0x880cd76a59e77745%3A0x4b7f27ecae009835!4m36!3m16!1m0!1m5!1sThomas+M.+Siebel+Center+for+Computer+Science%2C+201+N+Goodwin+Ave%2C+Urbana%2C+IL+61801!2s0x880cd76baa8479a9%3A0x4e9f01d40d359630!3m2!3d40.11384!4d-88.224888!3m8!1m3!1d96776!2d-95.5290465!3d29.522312!3m2!1i1440!2i669!4f13.1!5m16!2m15!1m14!1s0x880cd76baa8479a9%3A0x4e9f01d40d359630!2ssiebel+center!3m8!1m3!1d96776!2d-95.5290465!3d29.522312!3m2!1i1440!2i669!4f13.1!4m2!3d40.11384!4d-88.224888!7m1!3b1&amp;fid=0">Google Maps</a></p>
                </div>
            </div>
            <div class="pure-u-1">
                <div class="about-text">
                    <h3>Bus Routes</h3>
                    <p>We're sending buses to the following schools!</p>
                    <ul>
                        <li>Purdue</li>
                        <li>Iowa St &rarr;  Grinnel &rarr;  Iowa</li>
                        <li>Depaul &rarr; Northwestern &rarr; UIC</li>
                        <li>IIT &rarr; UChicago</li>
                        <li>Michigan Tech &rarr;  Wisconsin</li>
                        <li>Indiana &rarr;  Rose Hulman</li>
                        <li>Missouri &rarr;  WashU</li>
                        <li>Case Western &rarr;  Kent &rarr;  OSU</li>
                        <li>Indiana &rarr;  Rose Hulman</li>
                        <li>University of Michigan Ann-Arbor</li>
                    </ul>
                </div>
            </div>
            <div class="pure-u-1">
                <div class="about-text">
                    <h3>Bus Map</h3>
                    <iframe src="https://mapsengine.google.com/map/u/0/embed?mid=zT7MNo7w_E5Q.kZUTUr79s-Ic" width="640" height="480"></iframe>
                </div>
            </div>
            <div class="pure-u-1">
                <div class="about-text last-text">
                    <h3>Reimbursement</h3>
                    <p>Unfortunately we will not be able to reimburse personal travel or provide travel reimbursements for HackIllinois 2014. Please try to ride a HackIllinois bus or find another means of travel. You're welcome to drive yourself or use public transit, but unfortunately we will not be able to provide reimbursement.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock subpage_body %}