{% extends "base/subpage.html" %}

{% block subpage_body %}


<div class="wrapper-content sticky-footer-wrapper-fix">
    <div class="grid-scaffold">
        <div class="pure-g-r">
            <div class="pure-u-1 section-divide">
                <header class="section-title section-text">
                    <span>Travel</span>
                </header>
            </div>
            <div class="pure-u-1">
                <div class="about-text first-text">
                    <h3>Venue</h3>
                    <p><span class="venue-name">Thomas M. Siebel Center for Computer Science</span><br>
                    201 N. Goodwin Ave.<br>
                    Urbana, IL 61801</p>
                    <p>Phone: <a href="tel://+13127575638">312-757-5638</a></p>
                    <p>Directions: <a href="https://www.google.com/maps/preview#!data=!1m4!1m3!1d3095!2d-88.2248157!3d40.1141041!2m1!6s0x880cd76a59e77745%3A0x4b7f27ecae009835!4m36!3m16!1m0!1m5!1sThomas+M.+Siebel+Center+for+Computer+Science%2C+201+N+Goodwin+Ave%2C+Urbana%2C+IL+61801!2s0x880cd76baa8479a9%3A0x4e9f01d40d359630!3m2!3d40.11384!4d-88.224888!3m8!1m3!1d96776!2d-95.5290465!3d29.522312!3m2!1i1440!2i669!4f13.1!5m16!2m15!1m14!1s0x880cd76baa8479a9%3A0x4e9f01d40d359630!2ssiebel+center!3m8!1m3!1d96776!2d-95.5290465!3d29.522312!3m2!1i1440!2i669!4f13.1!4m2!3d40.11384!4d-88.224888!7m1!3b1&amp;fid=0">Google Maps</a></p>
                </div>
            </div>
            <div class="pure-u-1">
                <div class="about-text last-text">
                    <h3>Reimbursement</h3>
                    <p>Travel specifics are still being worked out. We'll be sending buses to neighboring schools who have enough students signed up. We will be releasing more information soon, but in the mean time, be sure to sign up to increase the chances of a HackIllinois bus from your school! Flight reimbursement is still being considered.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock subpage_body %}